.papaultimamilla {
  position: relative;
}
.lineaultimamilla {
  background-image: ur l("../svg/linea-ultimamilla.svg");
  width: 340px;
  height: 583px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 308px;
  top: -24px;
}
.parrafoconsvg {
  margin-top: 140px !important;
}
.parrafoconsvg h2 {
  font-size: 1.3em;
}
.parrafoconsvg p {
  padding-right: 16%;
}
.triangululmill img {
  width: 250px;
  height: 217px;
  position: absolute;
  top: -8px;
  right: 371px;
}
.opcionesdatanetwork h3 {
  color: #fff;
}
.activolv {
  display: block;
}
.activolv h3 {
  color: #434343 !important;
}
.activolv svg path {
  fill: #dedede;
}
.btnactivosvg h3 {
  color: #434343 !important;
}
.btnactivosvg svg path {
  fill: #dedede;
}
.btnactivosvg svg polygon {
  fill: #dedede !important;
  transition: all 0.3s ease;
}
.parrafo2consvg {
  margin-top: 70px !important;
  text-align: right;
}
.parrafo2consvg h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.parrafo2consvg p {
  padding-left: 16%;
  margin-top: 0px;
}
#ult-mil {
  height: 530px;
}
.positionrelative {
  width: 960px;
  position: relative;
  margin: 0 auto;
  display: block;
}
#tab1 {
  padding-top: 35px;
  float: right;
  margin-right: 35px;
  position: relative;
  z-index: 999;
  display: block;
}
#tab1 h3 {
  position: relative;
  z-index: 999;
}
#tab1 #svg1 {
  width: 460px;
  height: 130px;
  position: absolute;
  right: -49px;
  top: 0px;
  display: block;
  z-index: 0;
}
#tab2 {
  float: right;
  margin-right: 35px;
  position: relative;
  z-index: 999;
}
#tab2 h3 {
  position: relative;
  z-index: 999;
  margin-top: 84px;
}
#tab2 #svg2 {
  width: 485px;
  height: 130px;
  position: absolute;
  right: -42px;
  display: block;
  top: 35px;
}
#tab3 {
  float: right;
  margin-right: 35px;
  position: relative;
  z-index: 999;
}
#tab3 h3 {
  position: relative;
  z-index: 999;
  margin-top: 84px;
}
#tab3 #svg3 {
  width: 440px;
  height: 130px;
  position: absolute;
  right: -42px;
  top: 38px;
  display: block;
}
#tab4 {
  display: block;
  position: relative;
  z-index: 999;
  width: 460px;
  height: 130px;
}
#tab4 h3 {
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 150px;
}
#tab4 #svg4 {
  width: 364px;
  height: 130px;
  position: absolute;
  left: 0;
}
.tituloultimamilla {
  position: absolute;
  text-align: right;
}
.st0 {
  fill: #dfdfde;
}
.logosrelativos {
  position: relative;
}
.near2cloudlogo {
  width: 450px;
  height: 220px;
  position: absolute;
  left: 355px;
  top: -16px;
}
.bgnear2cloud1,
.bgnear2cloud2,
.bgnear2cloud3 {
  text-align: right;
}
.empaquenear {
  margin-top: 48px;
}
.triancentral {
  position: absolute;
  z-index: 999;
  top: -11px;
  left: 390px;
}
.textsoftintegration {
  margin-top: 100px !important;
}
.textsoftintegration p {
  width: 350px;
}
.triangsoft {
  left: 336px !important;
}
.lineacloudsolution {
  background-image: url("../svg/linea-centralvirtual.svg");
  width: 340px;
  height: 583px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 307px;
  top: -23px;
}
.lineasoftwareintegra {
  background-image: url("../svg/linea-software.svg");
  width: 340px;
  height: 583px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 304px;
  top: -36px;
}
.imagenyboton {
  position: relative;
  width: 960px;
  height: auto;
  margin: 0 auto;
}
#botonccontacto {
  position: absolute;
  left: 250px !important;
  top: 195px !important;
}
#datanetworkshovers h3 {
  color: #fff;
}
#tab6 svg path,
#tab5 svg path {
  fill: #5b8d88;
}
.fillply {
  fill: #5b8d88;
}
#tab1:hover,
#tab2:hover,
#tab3:hover,
#tab4:hover,
#tab5:hover,
#tab6:hover {
  cursor: pointer;
}
#tab1:hover h3,
#tab2:hover h3,
#tab3:hover h3,
#tab4:hover h3,
#tab5:hover h3,
#tab6:hover h3 {
  color: #434343 !important;
  transition: all 0.3s ease;
}
#tab1:hover svg path,
#tab2:hover svg path,
#tab3:hover svg path,
#tab4:hover svg path,
#tab5:hover svg path,
#tab6:hover svg path {
  fill: #dedede;
  transition: all 0.3s ease;
}
#tab1:hover svg polygon,
#tab2:hover svg polygon,
#tab3:hover svg polygon,
#tab4:hover svg polygon,
#tab5:hover svg polygon,
#tab6:hover svg polygon {
  fill: #dedede;
  transition: all 0.3s ease;
}
#tab1:active h3,
#tab2:active h3,
#tab3:active h3,
#tab4:active h3,
#tab5:active h3,
#tab6:active h3 {
  color: #000 !important;
  transition: all 0.1s ease;
}
#tab1:active svg path,
#tab2:active svg path,
#tab3:active svg path,
#tab4:active svg path,
#tab5:active svg path,
#tab6:active svg path {
  fill: #e8e8e8;
  transition: all 0.3s ease;
}
#tab1:active svg polygon,
#tab2:active svg polygon,
#tab3:active svg polygon,
#tab4:active svg polygon,
#tab5:active svg polygon,
#tab6:active svg polygon {
  fill: #e8e8e8;
  transition: all 0.3s ease;
}
#cont5 h2,
#cont6 h2 {
  margin-top: 115px;
}
