/* HELPER CLASSES*/
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.center-block,
.w-wrapper,
#tdt-list span[class*="icon-"] {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
nav a {
  text-transform: uppercase;
}
nav a.active {
  color: #ffa500;
}
/* LAYOUT */
body {
  padding-top: 115px;
}
.container {
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
}
.container > section {
  padding-top: 55px;
  padding-bottom: 55px;
}
.w-wrapper {
  width: 960px;
}
.col-2 {
  width: 48% !important;
  float: left;
}
.col-3 {
  width: 31% !important;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.col-4 {
  width: 46% !important;
  float: left;
}
[class*="col-"],
figure [class*="col-"],
[class*="col-"] figure {
  margin: 0 1%;
  padding: 0;
}
[class="col-*"]:after {
  clear: both;
}
header {
  padding: 2em 0 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;
  background-color: #fff;
}
header figure {
  margin-left: 4%;
}
header ul {
  margin: 0;
  padding: 0;
}
header ul li,
footer li {
  list-style: none;
  display: inline-block;
  margin-right: 0.4em;
}
.home header nav ul li:last-child {
  display: none;
  margin-right: 0;
}
.operadores header ul,
.particulares header ul,
.central-virtual header ul,
.contacto header ul,
.corporativo header ul {
  line-height: 3;
}
.social-main {
  text-align: right;
}
.social-main li {
  display: inline-block;
}
footer {
  position: absolute;
  width: 100%;
  padding-top: 20px;
}
footer .nav-footer li:last-child {
  display: none;
}
footer h6 {
  text-align: center;
}
.nav-footer {
  margin-right: 4%;
}
.nav-footer li {
  text-align: right;
}
.main-block {
  text-align: center;
  color: #fff;
}
.main-block h2 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.main-block p {
  padding: 25px;
  line-height: 1.2;
  font-size: 1.1em;
  margin: 0;
}
/* COLORES */
/* BOTONES */
a.btn {
  display: inline-block;
}
.btn {
  padding: 15px 25px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  margin: 5px;
  text-align: center;
  position: relative;
  z-index: 9999;
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-orange {
  border-color: #f07926;
  color: #f07926;
}
/* BACKGROUNDS */
.naranja-bg {
  background-color: #f07926;
}
.green-bg {
  background-color: #5b8d88;
}
.gray-bg {
  background-color: #434343;
  padding: 25px 0;
}
.light-green-bg {
  background-color: #189b94;
}
/* INDEX ONLY */
.home #main-block article {
  text-align: center;
}
.home #main-block article figure {
  margin: 0;
}
.home #contact,
.contacto #contact {
  text-align: center;
}
.home #contact input[type="text"],
.contacto #contact input[type="text"],
.home #contact textarea,
.contacto #contact textarea,
.home #contact input[type="email"],
.contacto #contact input[type="email"] {
  width: 97%;
  border-width: 2px;
  padding: 1em 0.5em;
  border-color: #575756;
  font-style: italic;
}
.home #contact .col-2,
.contacto #contact .col-2 {
  margin: 0 7px;
}
.destacadoindex {
  background-size: cover;
  height: 621px !important;
}
.borderultimospost {
  padding: 0 !important;
  margin: 0 !important;
}
.mision {
  border-right: 1px solid #fff;
  margin-right: -16px;
  padding: 12px;
}
/* OPERADORES */
.op-main-text {
  width: 45%;
  text-align: left;
  margin-top: 0;
}
.op-main-text p {
  margin-top: 0;
  color: #fff;
  font-size: 1.19em;
}
#faq {
  display: table;
  background-color: #f0ede3;
  padding-top: 0;
  width: 100%;
}
#faq .big-qa section {
  width: 45%;
}
#faq .big-qa h2 {
  text-align: center;
}
#faq h1 {
  margin-top: 0;
  color: #fff;
  text-align: center;
}
#faq > section {
  padding: 35px;
}
#faq article {
  width: 43%;
  display: table-cell;
  padding: 3em 2em 1.3em 2em;
  margin: 0;
  margin-top: 1px;
  min-height: 165px;
}
#faq article:nth-child(odd) {
  text-align: left;
  float: left;
}
#faq article:nth-child(1) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(4) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(5) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(8) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(9) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(12) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(13) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article p,
#faq article h2 {
  padding: 0;
  margin: 0;
}
#faq article h2 {
  font-size: 1em;
  text-transform: uppercase;
}
/* IMG DESTACADAS */
.dest-container {
  padding-top: 25px !important;
  margin-top: 15px;
  padding-bottom: 0 !important;
}
.dest-container h1,
.dest-container .w-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}
.dest-container section {
  position: relative;
}
.dest-container section:nth-child(2) {
  float: right;
  width: 50%;
  height: 305px;
}
.dest-container figure {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.dest-title {
  margin: 0;
  margin-top: 55px;
  color: #189b94;
  font-size: 3em;
  font-weight: 800;
}
.corporativo .dest-title {
  color: #f07926;
}
.central-virtual .op-main-text {
  text-align: right;
}
.central-virtual figure {
  left: -90px;
  right: auto;
  top: -130px;
}
.central-virtual .dest-title {
  color: #5b8d88;
  text-align: right;
}
.particulares .dest-container section:nth-child(2) {
  height: 265px;
}
/* CENTRAL VIRTUAL */
#ct-vt h2 {
  text-transform: none;
  font-size: 2.5em;
}
#cy-ct .empaquenear h2,
#ct-go .empaquenear h2 {
  font-weight: 200;
  font-size: 2.5em;
  margin: 0;
}
#cy-ct .empaquenear p {
  padding-right: 167px;
}
#ct-go .empaquenear h2 {
  text-align: right;
}
#ct-go .empaquenear p {
  text-align: right;
  padding-left: 112px;
}
.cy-ct h3,
.ct-go h3 {
  text-align: right;
  padding: 30px;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
}
.ct-go h3 {
  text-align: left;
  font-size: 1.1em;
}
.gray-bar {
  width: 100%;
  height: 100px;
  background-color: #434343;
  margin-bottom: 0;
  margin-top: 0;
}
/* PARTICULARES */
#tdp {
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  padding: 0 4em;
}
#tdt-list {
  padding: 0 2em;
}
#tdt-list section {
  min-height: 215px;
  border-bottom: 2px solid #f7b88c;
  padding: 12px 0 12px 0;
  margin: 0;
}
#tdt-list section:nth-child(odd) {
  border-right: 2px solid #f7b88c;
  margin-right: -2px;
}
#tdt-list section:nth-child(even) {
  margin-left: -2px;
}
#tdt-list section:last-child,
#tdt-list section:nth-last-child(2) {
  border-bottom: none;
}
#tdt-list p,
#vr-mv {
  color: #fff;
  font-weight: 100;
  font-size: 0.9em;
  text-align: center;
  padding: 0 40px;
}
#tdt-list span[class*="icon-"] {
  color: #fff;
  font-size: 5em;
  width: 114px;
  min-height: 117px;
}
#tdt-list span[class*="icon-"]:before {
  vertical-align: middle;
}
#vr-mv {
  font-size: 1.4em;
  padding: 20px;
}
#vr-pg ul li {
  list-style: disc outside;
}
/* CONTACTO */
.contacto #contact {
  color: #fff;
}
.contacto #contact .btn {
  border-width: 1px;
  font-size: 0.8em;
  font-weight: 100;
  padding: 15px 75px;
}
.contacto #contact .btn.btn-send {
  border: none;
  background-color: #fff;
  color: #189b94;
  font-weight: bold;
  font-size: 0.9em;
}
.contacto form input[type="text"],
.contacto form textarea,
.contacto form input[type="email"] {
  background-color: #189b94 !important;
  border-color: #fff !important;
  border-width: 2px;
  color: #fff !important;
}
.contacto .dest-container {
  position: relative;
  padding: 0;
  margin: 0;
}
.contacto .dest-container div.pull-right {
  margin-right: 12%;
}
.contacto .dest-container .btn {
  position: absolute;
  left: 24%;
  bottom: 45%;
  width: 245px;
  padding: 25px 75px;
}
.contacto .dest-container .btn:hover {
  border: 2px solid #434343;
  color: #434343;
}
.contacto .dest-container img {
  margin-bottom: 82px;
}
/* OTHER */
.opcionescloudsolution #tab5,
.opcionescloudsolution #tab6 {
  position: relative;
  height: 271px;
}
.opcionescloudsolution #tab5 svg,
.opcionescloudsolution #tab6 svg {
  height: 268px;
}
.opcionescloudsolution h3 {
  position: absolute;
  top: 90px;
  color: #fff;
  font-weight: 100;
  font-size: 2em;
}
#sw-it2 h3 {
  font-weight: 100;
  font-size: 1.1em;
  color: #fff;
  text-align: right;
  padding: 0.5em 2em;
}
.triangululmill img {
  z-index: 9999;
}
#tab4 {
  margin-right: 35px;
  z-index: 999;
  bottom: 0;
}
#ult-mil #tab1,
#ult-mil #tab2,
#ult-mil #tab3,
#ult-mil #tab4 {
  height: 130px;
  float: none !important;
  padding-top: 0 !important;
}
#ult-mil #tab1 h3,
#ult-mil #tab2 h3,
#ult-mil #tab3 h3,
#ult-mil #tab4 h3 {
  margin-top: 0 !important;
  position: absolute !important;
  top: 35px;
  right: -10px;
  font-size: 1.4em;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
}
#tab2 #svg2 {
  top: 3px !important;
}
#tab3 #svg3 {
  top: 5px !important;
}
#tab4 #svg4 {
  right: -42px;
  left: auto !important;
  top: 9px;
}
.parrafoconsvg {
  margin-top: 84px !important;
}
.parrafoconsvg h2 {
  font-size: 2em !important;
  font-weight: 300;
  text-transform: uppercase;
}
.btn-orange:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: #f07926;
  color: #fff;
  background-color: #f07926 !important;
}
.btn-orange:active {
  border-color: #909090;
  color: #a1a1a1;
  background-color: #f07926 !important;
}
.btn-white:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: #fff !important;
  color: #f07926 !important;
  background-color: #fff !important;
}
.btn-white:active {
  border-color: #909090;
  color: #a1a1a1;
}
.servicios-index figure a {
  padding: 0;
  outline: 0;
}
.servicios-index figure a:hover {
  background-color: transparent !important;
  outline: 0 !important;
  opacity: 0.7;
}
.servicios-index a:hover {
  transition: all 0.3s ease;
  border-color: #f07926;
  color: #fff !important;
  background-color: #f07926 !important;
}
