/* HELPER CLASSES*/
.clear-fix:before, .clear-fix:after
		content ""
		display table
.clear-fix:after 
		clear both
.center-block 
		display block !important
		margin-left auto !important
		margin-right auto !important
		width auto
.pull-right 
		float right !important
.pull-left 
		float left !important
li 
	list-style none
a 
	text-decoration none
nav a
	text-transform uppercase
	&.active
		color orange

/* LAYOUT */
body 
		padding-top 115px;

.container 
		width 100% !important
		max-width 100% !important
		position relative
.container 
	> section
		padding-top 55px
		padding-bottom 55px;
.w-wrapper
	width 960px
	@extend .center-block
.col-2 
		width 48% !important
		float left
.col-3 
		width 31% !important
		float left
		margin-left 1%
		margin-right 1%
.col-4 
		width 46% !important
		float left

[class*="col-"], figure [class*="col-"], [class*="col-"] figure
		margin 0 1%
		padding 0
[class="col-*"]:after 
		clear both
header
	padding 2em 0 1em 0
	position fixed
	top 0
	width 100%
	z-index 999999999
	background-color #fff
	figure 	
		margin-left 4%;
	ul
		margin 0 
		padding 0
		li
			list-style none
			display inline-block
			margin-right 0.4em			
				
.home
	header
		nav
			ul
				li:last-child
					display none
					margin-right 0
.operadores
.particulares
.central-virtual			
.contacto
.corporativo
	header
		ul
			line-height 3
.social-main 
		text-align right
		li 
			display inline-block
footer
	position absolute
	width 100% 
	padding-top 20px
	li
		@extend header ul li
	.nav-footer
		li
			&:last-child
				display none
	h6
		text-align center

.nav-footer
		margin-right 4% 
		li 
			text-align right
.main-block 
	text-align center
	color #fff
	h2 
		font-size 3em
		padding 0 
		margin 0
		text-transform uppercase
		font-weight 700
	p
		padding 25px
		line-height 1.2
		font-size 1.1em
		margin 0
/* COLORES */
orange = #f07926
green = #5B8D88
gray = #434343
cream = #F0EDE3
light-green = #189B94

/* BOTONES */
a.btn 
	display inline-block
.btn 
	padding 15px 25px
	border-width 2px
	border-style solid
	text-decoration none
	margin 5px
	text-align center
	position relative
	z-index 9999
.btn-white 
	border-color #fff
	color #fff
.btn-orange
	border-color orange
	color orange

/* BACKGROUNDS */
.naranja-bg 
	background-color orange
.green-bg 
	background-color green
.gray-bg
	background-color gray
	padding 25px 0
.light-green-bg 
	background-color light-green

/* INDEX ONLY */
.home #main-block 
	article
		text-align center;
		figure
			margin 0;
.home #contact 
		text-align center
		input[type="text"], textarea, input[type="email"]
			width 97%
			border-width 2px
			padding 1em 0.5em
			border-color #575756
			font-style italic
		.col-2 
			margin 0 7px
.destacadoindex
	background-size cover
	height 621px !important
.borderultimospost
	padding 0 !important
	margin 0 !important
.mision 
	border-right 1px solid #fff
	margin-right -16px
	padding 12px

/* OPERADORES */
.op-main-text 
		width 45%
		text-align left
		margin-top 0
		p
			margin-top 0
			color #fff
			font-size 1.19em
#faq
	display table
	background-color cream
	padding-top 0
	width 100%
	.big-qa 
		section
			width 45%
		h2
			text-align center
	h1
		margin-top 0
		color #fff
		text-align center
	> section
		padding 35px
	article
		width 43%
		display table-cell
		padding 3em 2em 1.3em 2em
		margin 0
		margin-top 1px
		min-height 165px
		&:nth-child(odd)
			text-align left
			float left
		for row in 1 4 5 8 9 12 13
			&:nth-child({row})
				background-color #fff
			&:nth-child(even)
				float right				
				p, h2
					float right
					text-align right
					
		p, h2
			padding 0
			margin 0
		h2 
			font-size 1em
			text-transform uppercase
/* IMG DESTACADAS */
.dest-container 
		padding-top 25px !important
		margin-top 15px
		padding-bottom 0 !important
		h1, .w-wrapper 
			margin-top 0
			margin-bottom 0
		section
			position relative
			&:nth-child(2)
				float right
				width 50%
				height 305px
		figure
			margin 0
			position absolute
			bottom 0
			right 0
.dest-title 
		margin 0
		margin-top 55px
		color light-green
		font-size 3em 
		font-weight 800
.corporativo
	.dest-container 
		figure			
	.dest-title
		color orange
.central-virtual
	.op-main-text
		text-align right
	figure
		left -90px
		right auto
		top -130px
	.dest-title
		color green
		text-align right
.particulares
	.dest-container
		section
			&:nth-child(2)
				height 265px
/* CENTRAL VIRTUAL */
#ct-vt 
	h2
		text-transform none
		font-size 2.5em
#cy-ct
	.empaquenear
		h2
			font-weight 200
			font-size 2.5em
			margin 0
		p
			padding-right 167px
#ct-go
	.empaquenear
		h2
			@extend #cy-ct .empaquenear h2
			text-align right

		p
			text-align right
			padding-left 112px
.cy-ct
	h3
		text-align right
		padding 30px
		color #fff
		font-size 1em
		font-weight 100
.ct-go
	h3	
		@extend .cy-ct h3
		text-align left
		font-size 1.1em
.gray-bar
	width 100%
	height 100px
	background-color gray
	margin-bottom 0
	margin-top 0
	
/* PARTICULARES */
#tdp 
	color #fff
	font-size 1.4em
	font-weight 100
	text-align center
	padding 0 4em
#tdt-list 
	padding 0 2em
	section
		min-height 215px
		border-bottom 2px solid #F7B88C
		padding 12px 0 12px 0
		margin 0
		&:nth-child(odd)
			border-right 2px solid #F7B88C
			margin-right -2px
		&:nth-child(even)
			margin-left -2px
		&:last-child
		&:nth-last-child(2)
			border-bottom none
	p
		color #fff
		font-weight 100
		font-size 0.9em
		text-align center
		padding 0 40px
	span 
		&[class*="icon-"] 
			color #fff
			font-size 5em
			@extend .center-block
			width 114px
			min-height 117px
			&:before
				vertical-align middle
#vr-mv 
	@extend #tdt-list p
	font-size 1.4em
	padding 20px
#vr-pg 
	ul 
		li 
			list-style disc outside
/* CONTACTO */
.contacto #contact 
	@extend .home #contact
	color #fff
	.btn
		border-width 1px
		font-size 0.8em
		font-weight 100
		padding 15px 75px
	.btn.btn-send
			border none
			background-color #fff
			color light-green 
			font-weight bold
			font-size 0.9em
.contacto 
	form
		input[type="text"], textarea, input[type="email"]
			background-color light-green !important
			border-color #fff !important
			border-width 2px
			color #fff !important
	.dest-container
		position relative
		padding 0
		margin 0
		div.pull-right
			margin-right 12%
		.btn
			position absolute
			left 24%
			bottom 45%
			width 245px
			padding 25px 75px
			&:hover
				border: 2px solid #434343;
				color: #434343;
		img 
			margin-bottom 82px
/* OTHER */
.opcionescloudsolution 
	#tab5, #tab6
		position relative
		height: 271px;
		svg 
			height 268px
	h3
		position absolute
		top 90px
		color #fff
		font-weight 100
		font-size 2em
#sw-it2 
	h3
		font-weight 100
		font-size 1.1em
		color #fff
		text-align right
		padding 0.5em 2em

.triangululmill 
	img
		z-index 9999
#tab4
	margin-right 35px
	z-index: 999;
	bottom: 0;

#ult-mil
	#tab1
	#tab2
	#tab3
	#tab4
		height: 130px;
		float: none !important
		padding-top 0 !important
		h3
			margin-top 0 !important
			position absolute !important
			top 35px;
			right -10px	
			font-size 1.4em
			font-weight 200
			color #fff
			text-transform uppercase
			text-align right
#tab2 #svg2 
	top 3px !important
#tab3 #svg3 
	top 5px !important
#tab4 #svg4
	right -42px
	left auto !important
	top 9px
.parrafoconsvg
	margin-top 84px !important
	h2
		font-size 2em !important
		font-weight 300
		text-transform uppercase
		

//hovers botones lv.

.btn-orange
	&:hover
		cursor: pointer;
		transition all 0.3s ease
		border-color: #f07926;
		color: #fff;
		background-color: #f07926 !important;
	&:active
		border-color: #909090;
		color: #A1A1A1;
		background-color: #f07926 !important;	

.btn-white
	&:hover
		cursor: pointer;
		transition all 0.3s ease
		border-color: #fff !important;
		color: orange !important;
		background-color: white !important;
	&:active
		border-color: #909090;
		color: #A1A1A1;

// CSS PARA FRANKLIN
.servicios-index 
	figure
		a
			padding 0
			outline 0
			&:hover
				background-color transparent !important
				outline 0 !important
				opacity 0.7
	a
		&:hover
			transition all 0.3s ease
			border-color: #f07926;
			color: #fff !important;	
			background-color: #f07926 !important;	
// STYLE.CSS - FRANKLIN 

.papaultimamilla
	position relative


.lineaultimamilla 
	background-image: ur l("../svg/linea-ultimamilla.svg");
	width: 340px;
	height: 583px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	right: 308px;
	top -24px

.parrafoconsvg
	margin-top: 140px !important;

	h2
		font-size 1.3em
	p
		padding-right: 16%;

.triangululmill
	img
		width 250px
		height 217px
		position absolute
		top -8px
		right 371px


.opcionesdatanetwork
	h3
		color white
.activolv
	display block
	h3
		color #434343 !important
	svg
		path
			fill #dedede

.btnactivosvg 
		h3
			color #434343 !important
		svg
			path
				fill #dedede
			polygon
				fill #DEDEDE !important
				transition all 0.3s ease		

.parrafo2consvg	
	margin-top: 70px !important;	
	text-align right
	h2
		font-size 1.3em
		margin-bottom 5px
	p
		padding-left		: 16%;
		margin-top 0px

#ult-mil
	height 530px




//SVGcolors and others//
.positionrelative
	width 960px
	position relative
	margin 0 auto
	display block


#tab1
	padding-top: 35px;
	float: right;
	margin-right: 35px;
	position relative
	z-index 999
	display block
	h3
		position relative
		z-index 999
	#svg1
		width 460px
		height 130px
		position absolute
		right -49px
		top 0px
		display block
		z-index 0




#tab2
	float: right;
	margin-right: 35px;
	position relative
	z-index 999
	h3
		position relative
		z-index 999
		margin-top: 84px;
	#svg2
		width 485px
		height 130px
		position absolute
		right -42px
		display block
		top: 35px;



#tab3
	float: right;
	margin-right: 35px;
	position relative
	z-index 999

	h3
		position relative
		z-index 999
		margin-top: 84px;
	#svg3
		width 440px
		height 130px
		position absolute
		right -42px
		top 38px
		display block



#tab4
	display block
	position relative
	z-index 999
	width: 460px;
	height: 130px;
	h3
		position: absolute;
		z-index: 999;
		top: 40px;
		right: 150px;

	#svg4
		width: 364px;
		height: 130px;
		position: absolute;
		left: 0;

.tituloultimamilla
	position absolute
	text-align right

.st0
	fill #DFDFDE


.logosrelativos
	position relative

.near2cloudlogo
	width: 450px;
	height: 220px;
	position: absolute;
	left: 355px;
	top: -16px;

.bgnear2cloud1
.bgnear2cloud2
.bgnear2cloud3
	text-align right


.empaquenear
	margin-top 48px


.triancentral
	position absolute
	z-index 999
	top -11px
	left 390px

.textsoftintegration
	margin-top 100px !important
	p
		width 350px

.triangsoft
	left: 336px !important

.lineacloudsolution
	background-image: url("../svg/linea-centralvirtual.svg");
	width: 340px;
	height: 583px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	right: 307px;
	top -23px

.lineasoftwareintegra
	background-image: url("../svg/linea-software.svg");
	width: 340px;
	height: 583px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	right: 304px;
	top -36px

.imagenyboton
	position relative
	width 960px
	height auto
	margin 0 auto

#botonccontacto
	position absolute
	left 250px !important
	top 195px !important


// Hovers de botones operadores.

#datanetworkshovers
	h3
		color #fff 

#tab6
#tab5
	svg
		path
			fill #5B8D88
	

.fillply
	fill #5B8D88

#tab1 
#tab2
#tab3
#tab4
#tab5
#tab6
	&:hover
		cursor pointer
		h3
			color #434343 !important
			transition all 0.3s ease
		svg
			path 
				fill #DEDEDE
				transition all 0.3s ease

			polygon
				fill #DEDEDE
				transition all 0.3s ease

	&:active
		h3	
			color #000 !important
			transition all 0.1s ease
		svg
			path 
				fill #E8E8E8
				transition all 0.3s ease
			polygon
				fill #E8E8E8
				transition all 0.3s ease			

#cont5
#cont6
	h2
		margin-top 115px;


