#tab7:hover,
#tab8:hover,
#tab9:hover {
  cursor: pointer;
  border-top: 126px solid #dedede !important;
  transition: all 0.3s ease;
}
#tab7:hover h3,
#tab8:hover h3,
#tab9:hover h3 {
  color: #434343 !important;
  transition: all 0.3s ease;
}
#faq article {
  padding: 3em 2.2em 1.3em 2em;
}
.altoderegistrateparticular {
  height: 140px;
}
.LVBORRAR {
  padding-top: 40px;
}
