

#tab7
#tab8
#tab9	
	&:hover	
		cursor pointer
		border-top 126px solid  #DEDEDE !important
		transition all 0.3s ease
		h3
			color #434343 !important
			transition all 0.3s ease



#faq 
	article 
		padding: 3em 2.2em 1.3em 2em;


.altoderegistrateparticular
	height 140px

.LVBORRAR
	padding-top: 40px;