#datanetworkshovers
		.btnactivosvg
			border-top: 0;



@media only screen and (max-width: 767px) and (min-width: 533px)

	#datanetworkshovers
		.btnactivosvg
			background: #dedede !important;
			border-top:0 solid #dedede ;

@media only screen and (max-width: 767px) and (min-width: 400px)
	.s-int
	#datanetworkshovers
		.btnactivosvg
			background: #dedede !important;
			border-top:0 solid #dedede !important ;
			
	#tab7:hover, 
	#tab8:hover, 
	#tab9:hover
		border-top: 0 !important
		background: #dedede !important;
		
@media only screen and (max-width: 479px)		
	.near2c-2
		.empaquenear
			padding: 12px 16px 34px 50% !important;	