
.papaultimamilla
	position relative


.lineaultimamilla 
	background-image: ur l("../svg/linea-ultimamilla.svg");
	width: 340px;
	height: 583px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	right: 308px;
	top -24px

.parrafoconsvg
	margin-top: 140px !important;

	h2
		font-size 1.3em
	p
		padding-right: 16%;

.triangululmill
	img
		width 250px
		height 217px
		position absolute
		top -8px
		right 371px


.opcionesdatanetwork
	h3
		color white
.activolv
	display block
	h3
		color #434343 !important
	svg
		path
			fill #dedede

.btnactivosvg 
		h3
			color #434343 !important
		svg
			path
				fill #dedede
			polygon
				fill #DEDEDE !important
				transition all 0.3s ease		

.parrafo2consvg	
	margin-top: 70px !important;	
	text-align right
	h2
		font-size 1.3em
		margin-bottom 5px
	p
		padding-left		: 16%;
		margin-top 0px

#ult-mil
	height 530px




//SVGcolors and others//
.positionrelative
	width 960px
	position relative
	margin 0 auto
	display block


#tab1
	padding-top: 35px;
	float: right;
	margin-right: 35px;
	position relative
	z-index 999
	display block
	h3
		position relative
		z-index 999
	#svg1
		width 460px
		height 130px
		position absolute
		right -49px
		top 0px
		display block
		z-index 0




#tab2
	float: right;
	margin-right: 35px;
	position relative
	z-index 999
	h3
		position relative
		z-index 999
		margin-top: 84px;
	#svg2
		width 485px
		height 130px
		position absolute
		right -42px
		display block
		top: 35px;



#tab3
	float: right;
	margin-right: 35px;
	position relative
	z-index 999

	h3
		position relative
		z-index 999
		margin-top: 84px;
	#svg3
		width 440px
		height 130px
		position absolute
		right -42px
		top 38px
		display block



#tab4
	display block
	position relative
	z-index 999
	width: 460px;
	height: 130px;
	h3
		position: absolute;
		z-index: 999;
		top: 40px;
		right: 150px;

	#svg4
		width: 364px;
		height: 130px;
		position: absolute;
		left: 0;

.tituloultimamilla
	position absolute
	text-align right

.st0
	fill #DFDFDE


.logosrelativos
	position relative

.near2cloudlogo
	width: 450px;
	height: 220px;
	position: absolute;
	left: 355px;
	top: -16px;

.bgnear2cloud1
.bgnear2cloud2
.bgnear2cloud3
	text-align right


.empaquenear
	margin-top 48px


.triancentral
	position absolute
	z-index 999
	top -11px
	left 390px

.textsoftintegration
	margin-top 100px !important
	p
		width 350px

.triangsoft
	left: 336px !important

.lineacloudsolution
	background-image: url("../svg/linea-centralvirtual.svg");
	width: 340px;
	height: 583px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	right: 307px;
	top -23px

.lineasoftwareintegra
	background-image: url("../svg/linea-software.svg");
	width: 340px;
	height: 583px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	right: 304px;
	top -36px

.imagenyboton
	position relative
	width 960px
	height auto
	margin 0 auto

#botonccontacto
	position absolute
	left 250px !important
	top 195px !important


// Hovers de botones operadores.

#datanetworkshovers
	h3
		color #fff 

#tab6
#tab5
	svg
		path
			fill #5B8D88
	

.fillply
	fill #5B8D88

#tab1 
#tab2
#tab3
#tab4
#tab5
#tab6
	&:hover
		cursor pointer
		h3
			color #434343 !important
			transition all 0.3s ease
		svg
			path 
				fill #DEDEDE
				transition all 0.3s ease

			polygon
				fill #DEDEDE
				transition all 0.3s ease

	&:active
		h3	
			color #000 !important
			transition all 0.1s ease
		svg
			path 
				fill #E8E8E8
				transition all 0.3s ease
			polygon
				fill #E8E8E8
				transition all 0.3s ease			

#cont5
#cont6
	h2
		margin-top 115px;


