
/*@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,700,600");*/

/* icomoon */
@font-face {
	font-family: 'sitioweb';
	src:url('../fonts/sitioweb.eot?u7cx7i');
	src:url('../fonts/sitioweb.eot?#iefixu7cx7i') format('embedded-opentype'),url('../fonts/sitioweb.ttf?u7cx7i') format('truetype'),url('../fonts/sitioweb.woff?u7cx7i') format('woff'),url('../fonts/sitioweb.svg?u7cx7i#sitioweb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sitioweb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icono-bajar:before {
	content: "\e600";
	font-size: 3em;
	color:#F07926;
}

.icon-icono-facebook:before {
	content: "\e601";
}
.icon-icono-google-plus:before {
	content: "\e602";
}
.icon-icono-linkedin:before {
	content: "\e603";
}
.icon-icono-twitter:before {
	content: "\e604";
}
.icon-icono-bajar-outline:before {
	content: "\e606";

}

.terminosycondiciones .icon-icono-bajar-outline:before {
	content: "\e606";
	font-size: 4em;
	color: #434343;
	width: 50px;
	height: 50px;
	margin: 0 auto 50px auto;
	display: block;
}

.icon-icono-centro-de-soporte:before {
	content: "\e607";
}
.icon-icono-hola:before {
	content: "\e60a";
}
.icon-icono-mision:before {
	content: "\e60b";
	font-size: 5em;
}
.icon-icono-preguntas-frecuentes:before {
	  content: "\e60d";
color: white;
background-color: #434343;
font-size: 40px;
border-radius: 50%;
padding: 20px;
width: 40px;
display: block;
height: 40px;
text-align: center;
vertical-align: super;
/*margin: -50px auto -10px auto;*/
z-index: 25;
position: absolute;
top: -42px;
left:47%;
}
.icon-icono-registrarse:before {
	content: "\e60e";
}
.icon-icono-vision:before {
	content: "\e60f";
	font-size: 4em;
}
.icon-home3:before {
	content: "\e902";
	font-size: 1.5em;
	padding-right: 10px;
	color: #f07926;
}

.icon-homeContacto:before {
	content: "\e902";
	font-size: 1.5em;
	padding-right: 10px;
	color: #fff;
}
.icon-phone:before {
	content: "\e942";
	font-size: 25px;
	/*padding-right: 10px;*/
	position: absolute;
	left: 69px;
}
/* para el main.js*/
.activo {
  display: block;
}
.oculto {
  display: none;
}
.btncentrodesoportecontacto {
  outline: 1px solid #f07926;
  color: #f07926;
  text-decoration: none;
  padding: 20px 40px;
  margin: 20px auto;
  width: 330px;
  display: inline-block;
  text-align: center;
}
.btncentrodesoportecontacto:hover {
  outline: 1px solid #434343;
  color: #434343;
}
.icon-icono-centro-de-soporte:before {
  content: "\e607";
  font-size: 2.5em;
  vertical-align: middle;
  padding-right: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/* footer*/
footer {
  background-color: #434343;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #f07926;
}
footer .icon-icono-twitter:before,
footer .icon-icono-linkedin:before,
footer .icon-icono-facebook:before,
footer .icon-icono-google-plus:before {
  font-size: 2em;
}
footer h6 {
  color: #fff;
  text-align: center;
}
/* header */
.social-main {
  margin-bottom: 15px;
  text-align: right;
}
.social-main .icon-icono-twitter:before,
.social-main .icon-icono-linkedin:before,
.social-main .icon-icono-facebook:before,
.social-main .icon-icono-google-plus:before {
  font-size: 1.5em;
}
.social-main a {
  color: #434343;
  text-decoration: none;
}
.social-main a:hover {
  color: #f07926;
}
.social-main li {
  display: inline-block;
}
nav a {
  color: #434343;
  text-decoration: none;
  font-weight: 700;
}
nav a:hover {
  color: #f07926;
}
/* imagen destacada index*/
.destacadoindex {
  background-image: url("../img/bg-top-principal-lv.jpg");
  height: 445px;
  background-repeat: no-repeat;
  position: relative;
}
.destacadoindex .parabajarindex {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  left: 23px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.contenedortituloprincipalindex {
  margin: 0 auto;
  width: 670px;
  top: 100px;
  position: relative;
}
.titulodestacado1,
.titulodestacado2,
.titulodestacado3,
.titulodestacado4 {
  color: #fff;
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 10px;
}
.titulodestacado1 {
  font-size: 1.5em;
  text-align: center;
  margin-left: 25px;
}
.titulodestacado2 {
  font-size: 3em;
}
.titulodestacado3 {
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 2px;
}
.titulodestacado4 {
  font-size: 1.2em;
  margin-left: 155px;
}
/* servicios index */
.servicios-index figure a {
  padding: 0;
  outline: 0;
}
.servicios-index figure a:hover {
  background-color: transparent !important;
  outline: 0 !important;
  opacity: 0.7;
}
.servicios-index a {
  outline: 1px solid #434343;
  color: #434343;
  padding: 10px 0;
  width: 100%;
  display: block;
  text-decoration: none;
}
.servicios-index a:hover {
  outline: 0 !important;
  opacity: 0.7;
  transition: all 0.3s ease;
  border-color: #f07926;
  color: #fff !important;
  background-color: #f07926 !important;
}
.operador-index h2 {
  color: #189b94;
}
.corporativo-index h2 {
  color: #f07926;
}
.particulares-index h2 {
  color: #434343;
}
/* quienes somos*/
.quienesomos {
  background-color: #f07926;
  color: #fff;
}
.quienesomos figure {
  margin: 0 auto;
  text-align: center;
}
.quienesomos h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.quienesomos p {
  text-align: center;
  font-size: 1.2em;
}
/* contactanos*/
.contactanos {
  background-color: #eeebe1;
  margin-top: -82px;
/*a 
		outline 1px solid naranja
		color naranja
		text-decoration none
		padding 20px 40px
		margin 20px auto
		display block
		width 230px
		&:hover
			outline 1px solid grisoscuro
			color grisoscuro*/


.radioP {
display: inline-block;
position: relative;
margin: 20px;
padding-left:25px;

}
.radioP:first-child {
 margin:0 0 20px 0; 
}

.radioPP {
 display: block;
position: relative;
margin: 20px auto;
padding-left: 25px;
width: 197px;
}

.radioPP label{
	text-align: left;
}

input[type="radio"] {
display: block;
position: absolute;
top:0;
left:0;
z-index: 0;
}

/* For IE 7-8-9

input[type="radio"] {
display: inline-block;
}
input[type="radio"] + label span.radioButtonGraph {
display: none;
}

*/

input[type="radio"] + label span.radioButtonGraph {
appearance: none;

z-index: 20;
position: absolute;
top:-3px;
left:0;
display: inline-block;
width: 24px;
height: 24px;
border-radius: 50%;
cursor: pointer;
vertical-align: middle;
box-shadow: hsla(0,0%,100%,.15) 0 3px 3px, inset hsla(0,0%,0%,.7) 0 0 0 3px;

background: #efefef;
background-image: radial-gradient(ellipse at center, #575756 0%,#575756 40%,#efefef 45%);
background-repeat: no-repeat;

transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
input[type="radio"]:checked + label span.radioButtonGraph {
transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

input[type="radio"] + label span.radioButtonGraph {
background-position: -24px 0;
}
input[type="radio"]:checked + label span.radioButtonGraph {
background-position: 0 0;
}
}
.contactanos h2 {
  color: #434343;
  font-weight: 700;
  font-size: 2em;
}
.contactanos h3 {
  color: #434343;
  font-weight: 700;
  font-size: 1.5em;
}
.contactanos p {
  color: #434343;
  font-weight: 600;
  padding-left: 30px;
}
.contactanos .btncentrodesoportewhite {
  outline: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  margin: 20px auto;
  display: block;
  width: 230px;
}
.contactanos .btncentrodesoportewhite:hover {
  outline: 1px solid #434343;
  color: #434343;
}
.contactanos .nuevosBotonesIndex {
  margin: 0;
  padding: 0;
}
.contactanos .nuevosBotonesIndex li {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}
.contactanos .btnIndexcontacto {
  outline: 1px solid #f07926;
  color: #f07926;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  width: 290px;
  position: relative;
  margin: 20px 0;
}
.contactanos .btnIndexcontacto:hover {
  outline: 1px solid #434343;
  color: #434343;
}
.contactanos .btnContacto {
  outline: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  width: 290px;
  position: relative;
  margin: 20px 0;
}
.contactanos .btnContacto:hover {
  outline: 1px solid #434343;
  color: #434343;
}
.contactanos .btncentrodesoporteindex {
  outline: 1px solid #f07926;
  color: #f07926;
  text-decoration: none;
  padding: 20px 40px;
  margin: 20px auto;
  display: block;
  width: 230px;
}
.contactanos .btncentrodesoporteindex:hover {
  outline: 1px solid #434343;
  color: #434343;
}
.contactanos .formulariodecontacto {
  width: 600px;
  margin: 0 auto;
}
.contactanos .formulariodecontacto input[type="text"],
.contactanos .formulariodecontacto input[type="email"] {
  background-color: #eeebe1;
  border: 1px solid #434343;
  padding: 8px 5px;
  color: #434343;
  margin: 0;
/*&:nth-of-type(3) 
				margin-top 20px*/
}
.contactanos .formulariodecontacto input[type="email"] {
  margin-top: 20px;
}
.contactanos textarea {
  background-color: #eeebe1;
  border: 1px solid #434343;
  padding: 6px;
  color: #434343;
}
.contactanos .enviarmensaje {
  background-color: #f07926;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  border: none;
  margin-top: 30px;
  font-weight: 600;
}
.contactanos .enviarmensaje:hover {
  background-color: #5b8d88;
  color: #fff;
  border: none;
}
.contactanos .icon-icono-centro-de-soporte:before {
  content: "\e607";
  font-size: 2.5em;
  vertical-align: middle;
  padding-right: 10px;
}
.contactanos .formulariodecontacto2 {
  width: 600px;
  margin: 0 auto;
}
.contactanos .formulariodecontacto2 input[type="text"] {
  background-color: #eeebe1;
  border: 1px solid #434343;
  padding: 8px 5px;
  color: #434343;
  margin: 0;
/*&:nth-of-type(3) 
				margin-top 20px*/
}
.contactanos .formulariodecontacto2 input[type="email"] {
  background-color: #eeebe1;
  border: 1px solid #434343;
  padding: 8px 2px;
  color: #434343;
  margin-top: 20px;
}
.contactanos .formulariodecontacto2 textarea {
  background-color: #eeebe1;
  border: 1px solid #434343;
  padding: 6px;
  color: #434343;
}
.contactanos .enviarmensaje2 {
  background-color: #fff;
  color: #5b8d88;
  margin-bottom: 60px;
  width: 100%;
  padding: 20px 0;
  border: none;
  margin-top: 30px;
  font-weight: 600;
}
.contactanos .enviarmensaje2:hover {
  background-color: #f07926;
  color: #fff;
  border: none;
}
.contactanos .icon-icono-centro-de-soporte:before {
  content: "\e607";
  font-size: 2.5em;
  vertical-align: middle;
  padding-right: 10px;
}


.radioP {
display: inline-block;
position: relative;
margin: 20px;
padding-left:25px;

}
.radioP:first-child {
 margin:0 0 20px 0; 
}

.radioPP {
 display: block;
position: relative;
margin: 20px auto;
padding-left: 25px;
width: 197px;
}

.radioPP label{
	text-align: left;
}

input[type="radio"] {
display: block;
position: absolute;
top:0;
left:0;
z-index: 0;
}

/* For IE 7-8-9

input[type="radio"] {
display: inline-block;
}
input[type="radio"] + label span.radioButtonGraph {
display: none;
}

*/

input[type="radio"] + label span.radioButtonGraph {
appearance: none;

z-index: 20;
position: absolute;
top:-3px;
left:0;
display: inline-block;
width: 24px;
height: 24px;
border-radius: 50%;
cursor: pointer;
vertical-align: middle;
box-shadow: hsla(0,0%,100%,.15) 0 3px 3px, inset hsla(0,0%,0%,.7) 0 0 0 3px;

background: #efefef;
background-image: radial-gradient(ellipse at center, #575756 0%,#575756 40%,#efefef 45%);
background-repeat: no-repeat;

transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
input[type="radio"]:checked + label span.radioButtonGraph {
transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

input[type="radio"] + label span.radioButtonGraph {
background-position: -24px 0;
}
input[type="radio"]:checked + label span.radioButtonGraph {
background-position: 0 0;
}
.contactoverde h2,
.contactoverde h3 {
  color: #fff;
}
.contactoverde p {
  color: #fff;
  padding-left: 30px;
}
.formularioblanco input[type="radio"] + label span.radioButtonGraph {
  appearance: none;
  z-index: 20;
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: rgba(255,255,255,0.15) 0 3px 3px, inset rgba(255,255,255,0.9) 0 0 0 3px;
  background: #189b94;
  background-image: radial-gradient(ellipse at center, #fff 0%, #fff 40%, #189b94 45%);
  background-repeat: no-repeat;
  transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1);
}
.formularioblanco input[type="radio"]:checked + label span.radioButtonGraph {
  transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1);
}
.formularioblanco input[type="radio"] + label span.radioButtonGraph {
  background-position: -24px 0;
}
.formularioblanco input[type="radio"]:checked + label span.radioButtonGraph {
  background-position: 0 0;
}

	.formulariodecontacto2 input::-webkit-input-placeholder {
	  color: white;
	}
	.formulariodecontacto2 input:-moz-placeholder {
	  color: white; 
	}
	.formulariodecontacto2 input:-ms-input-placeholder { 
	  color: white; 
	}

	.formulariodecontacto2 textarea::-webkit-input-placeholder {
	  color: white;
	}
	.formulariodecontacto2 textarea:-moz-placeholder {
	  color: white; 
	}
	.formulariodecontacto2 textarea:-ms-input-placeholder { 
	  color: white; 
	}
.headercontacto {
  height: 577px;
}
/* ultimos post en el index*/
.corteultimospost {
  margin-top: -96px;
}
.post-index {
  background-color: #5b8d88;
  color: #fff;
  padding: 3em 0;
}
.titulotheneweasy {
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}
.titulotheneweasy a {
  color: #fff;
}
.titulotheneweasy a:hover {
  color: #434343;
}
.introblog {
  padding: 3em 0;
}
.introblog p {
  color: #fff;
  padding: 1em 2em;
  font-size: 1.5em;
  text-align: center;
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
}
.introblog p a {
  color: #fff;
}
.introblog p a:hover {
  color: #434343;
}
.featurepost {
  margin: 100px auto 0 auto;
  width: 760px;
}
.featurepost .bgarticle {
  background-color: #f00;
}
.featurepost article {
  width: 310px;
  background-color: #eeebe1;
  padding: 4em 0em;
  text-align: center;
  margin: 1em 2em 6em 2em;
  float: left;
/*article
		
			width 350px
			background-color #eeebe1
			padding 4em 2em
			text-align center
			margin 1em 2em 6em 2em
			display inline-block*/
}
.featurepost article p {
  padding: 1em 2em;
  color: #6f6f6e;
  height: 100px;
  overflow: hidden;
}
.featurepost article figure {
  margin-top: -145px;
/*overflow hidden
			height 167px*/
  text-align: center;
}
.featurepost h2 {
  color: #434343;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 1em 0 1em;
}
.featurepost a {
  background-color: #f07926;
  padding: 1em;
  color: #fff;
  display: block;
  padding: 1em;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.featurepost a:hover {
  background-color: #5b8d88;
}
.flechapost {
  width: 65px;
  text-align: center;
  margin: 0 auto;
}
.flechapost img {
  position: relative;
  top: -33px;
  margin: 0 auto;
}
/*.borderultimospost
	background-image url("../svg/topultimospost.svg")
	height 63px
	background-repeat no-repeat
	background-size: 100%;

.ultimospostindex 
	figure
		float left
		width 100px
		height 100px

	.resumenultimospost
		float right
		width 330px

	h2
		margin 0
		font-size 14px

		a 
			color #213A37
			&:hover 
				color white*/
/* mision*/
.mision {
  margin-top: 2em;
}
.mision p {
  text-align: center;
}
.vision {
  margin-top: 2em;
}
.vision p {
  text-align: center;
  width: 400px;
  margin-left: 35px;
}
.vision .contenedoriconomisionvision {
  margin-top: 15px;
}
.contenedoriconomisionvision {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
/* operadores*/
.opcionesdatanetwork a {
  padding: 0;
  float: right;
}
.opcionesdatanetwork h3 {
  text-align: right;
  padding-top: 50px;
  margin: 0 50px 0 0;
}
.um {
  position: relative;
}
.lineaultimamilla {
  background-image: url("../svg/linea-ultimamilla.svg");
  width: 340px;
  height: 583px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 288px;
}
.bgultimamilla {
  background-image: url("../svg/bg-ultimamilla.svg");
  width: 450px;
  height: 130px;
  display: block;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}
.bgsolucionesglobales {
  background-image: url("../svg/bg-solucionesglobales.svg");
  width: 485px;
  height: 130px;
  display: block;
  background-repeat: no-repeat;
  margin-bottom: 2px;
}
.bglineasprivadas {
  background-image: url("../svg/bg-lineasprivadas.svg");
  width: 441px;
  height: 130px;
  display: block;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}
.bginternetglobal {
  background-image: url("../svg/bg-internetglobal.svg");
  width: 364px;
  height: 132px;
  display: block;
  background-repeat: no-repeat;
}
/* cloud solutions*/
.opcionescloudsolution a {
  margin: 0 0 2px 0;
  padding: 0;
  float: left;
}
.opcionescloudsolution h3 {
  text-align: left;
/*padding-top: 50px*/
  margin: 0 0 0 50px;
}
.bgcloudpbx {
  background-image: url("../svg/bg-centralvirtual.svg");
  width: 845px;
  height: 259px;
  display: block;
  background-repeat: no-repeat;
}
.bgcallcentervirtual {
  background-image: url("../svg/bg-callcentervirtual.svg");
  width: 444px;
  height: 259px;
  display: block;
  background-repeat: no-repeat;
}
/* corporativo*/
.near2c-2,
.ct-sp,
.ct-vt-2,
#cy-ct,
#ct-go {
  background: #f07926;
  overflow-x: hidden;
}
.near2c-2 .empaquenear,
.ct-sp .empaquenear,
.ct-vt-2 .empaquenear,
#cy-ct .empaquenear,
#ct-go .empaquenear {
  margin: 0 0 0 -50%;
  padding: 14px 0 43px 50%;
  background: #fff;
}
.near2c-2 .empaquenear figure,
.ct-sp .empaquenear figure,
.ct-vt-2 .empaquenear figure,
#cy-ct .empaquenear figure,
#ct-go .empaquenear figure {
  margin-top: 25px;
}
.bgnear2cloud,
.bgcentrosoporte,
.bgcentralvirtual,
.bgcibersysconnect,
.bgcibersysconnectgo {
  text-align: right;
  background: transparent;
  margin: 0 !important;
  padding: 0 !important;
}
.bgnear2cloud ul,
.bgcentrosoporte ul,
.bgcentralvirtual ul,
.bgcibersysconnect ul,
.bgcibersysconnectgo ul {
  margin-right: 35px;
  padding: 0;
}
.bgnear2cloud ul li,
.bgcentrosoporte ul li,
.bgcentralvirtual ul li,
.bgcibersysconnect ul li,
.bgcibersysconnectgo ul li {
  list-style: outside disc;
  color: #fff;
  direction: rtl;
}
.bgnear2cloud ul li h3,
.bgcentrosoporte ul li h3,
.bgcentralvirtual ul li h3,
.bgcibersysconnect ul li h3,
.bgcibersysconnectgo ul li h3 {
  font-weight: 100;
  font-size: 1.1em;
  color: #fff;
  text-align: right;
  padding: 1.2em 0;
  text-transform: uppercase;
  margin-top: 30px;
}
.ct-sp .empaquenear {
  margin: 0 -50% 0 0;
  padding: 14px 50% 57px 0;
  background: #fff;
}
.ct-sp .empaquenear figure {
  margin-top: 35px !important;
  margin-left: 90px !important;
}
.bgcentrosoporte {
  text-align: left;
}
.bgcentrosoporte ul li {
  direction: ltr;
}
.bgcentrosoporte ul li h3 {
  text-align: left;
}
.bgcentralvirtual ul li {
  padding-left: 101px;
}
/* central virtual*/
#cy-ct {
  background: #5b8d88;
}
#cy-ct .empaquenear h2,
#ct-go .empaquenear h2 {
  margin-top: 45px !important;
}
.bgcibersysconnect ul li {
  padding-left: 101px;
}
#ct-go {
  background: #5b8d88;
}
#ct-go .empaquenear {
  margin: 0 -50% 0 0;
  padding: 14px 50% 43px 0;
  background: #fff;
}
.bgcibersysconnectgo {
  text-align: left;
}
.bgcibersysconnectgo ul li {
  direction: ltr;
}
.bgcibersysconnectgo ul li h3 {
  text-align: left;
}
/* terminos y condiciones*/
.terminosycondiciones {
  width: 960px;
  margin: 0 auto;
}
.terminosycondiciones h3 {
  text-align: center;
  color: #434343;
}
.terminosycondiciones .delusodelsitio {
  position: relative;
}
.terminosycondiciones .delusodelsitiotxt {
  position: absolute;
  left: 0;
  width: 300px;
}


.accordion, .accordion * {
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}
 
.accordion {
  overflow:hidden;
  background:#fff;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
  width:100%;
  padding:15px;
  display:inline-block;
  background:#fff;
  transition:all linear 0.15s;
  /* Type */
  font-size:1.200em;
  color:#434343;
  width: 40%;

}
 /*
.accordion-section-title.active, .accordion-section-title:hover {
  background:#F07926;
  color: white;
 
  text-decoration:none;
  width: 40%;
}*/
 
.accordion-section:last-child .accordion-section-title {
  border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
  padding:15px;
  display:none;
  width: 55%;
  padding: 0 2.5%;
  float: right;
}
			

.accordion-section{
	overflow: overlay;
}


.clausulaborde{
	border-bottom: 1px solid #434343;
	display: block;
}
.imagendestacada {
  overflow: hidden;
  height: 379px;
  background-image: url("../img/politicas_de_privacidad.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
}
.imagendestacada img {
  width: 100%;
}
.imagendestacadaTerminos {
  overflow: hidden;
  height: 379px;
  background-image: url("../img/terminos_y_condiciones_de_uso.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.imagendestacadaTerminos img {
  width: 100%;
}
.contenedorimagenterminos {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 379px;
}
.contenedorimagenterminos h1 {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 3em;
  left: 1em;
}
/* LAYOUT.CSS - YORMAN */
/* HELPER CLASSES*/
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.center-block,
.w-wrapper,
#tdt-list span[class*="icon-"],
.contenedortituloprincipalindex {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
nav a {
  text-transform: uppercase;
}
nav a.active {
  color: #f07926;
}
/* LAYOUT */
body {
  padding-top: 115px;
}
.container {
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
}
.container > section {
  padding-top: 55px;
  padding-bottom: 55px;
}
.w-wrapper {
  width: 960px;
}
.col-2 {
  width: 48% !important;
  float: left;
}
.col-3 {
  width: 31% !important;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.col-4 {
  width: 46% !important;
  float: left;
}
.col-four {
  width: 22% !important;
  float: left;
}
[class*="col-"],
figure [class*="col-"],
[class*="col-"] figure {
  margin: 0 1%;
  padding: 0;
}
[class="col-*"]:after {
  clear: both;
}
header {
  padding: 2em 0 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;
  background-color: #fff;
}
header figure {
  margin-left: 4%;
}
header ul {
  margin: 0;
  padding: 0;
}
header ul li,
footer li {
  list-style: none;
  display: inline-block;
  margin-right: 0.4em;
}
/*.home
	header
		nav
			ul
				li:last-child
					display none
					margin-right 0*/
.operadores header ul,
.particulares header ul,
.central-virtual header ul,
.contacto header ul,
.corporativo header ul {
  line-height: 3;
}
footer {
  position: absolute;
  width: 100%;
  padding-top: 20px;
/*.nav-footer
		li
			&:last-child
				display none*/
}
footer h6 {
  text-align: center;
}
.nav-footer {
  margin-right: 4%;
}
.nav-footer li {
  text-align: right;
}
.main-block {
  text-align: center;
  color: #fff;
}
.main-block h2 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.main-block p {
  padding: 25px;
  line-height: 1.2;
  font-size: 1.1em;
  margin: 0;
}
/* BOTONES */
a.btn {
  display: inline-block;
}
.btn {
  padding: 15px 25px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  margin: 5px;
  text-align: center;
  position: relative;
  z-index: 9999;
  font-weight: 600;
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-orange {
  border-color: #f07926;
  color: #f07926;
}
.btn-whiteParticulares {
  border-color: #fff;
  color: #fff;
  width: 180px;
}
.centrarBotones {
  max-width: 495px;
  margin: 0 auto;
}
/* BACKGROUNDS */
.naranja-bg {
  background-color: #f07926;
}
.green-bg {
  background-color: #5b8d88;
}
.gray-bg {
  background-color: #434343;
  padding: 25px 0;
}
.faq-bg {
  background-color: #434343;
  padding: 50px 0;
  position: relative;
}
.grisclaro-bg {
  background-color: #808080;
  padding: 50px 0;
  position: relative;
}
.light-green-bg {
  background-color: #189b94;
}
/* preguntas frecuentes*/
.txtpf {
  position: relative;
  z-index: 20;
  margin-top: -22px;
  display: none;
}
.txtpf2 {
  position: relative;
  z-index: 20;
}
#muestraPF {
  cursor: pointer;
}
#muestraPF:hover {
  color: #f07926;
}
/* INDEX ONLY */
.home #main-block article {
  text-align: center;
}
.home #main-block article figure {
  margin: 0;
}
.home #contact,
.contacto #contact {
  text-align: center;
}
.home #contact input[type="text"],
.contacto #contact input[type="text"],
.home #contact textarea,
.contacto #contact textarea,
.home #contact input[type="email"],
.contacto #contact input[type="email"] {
  width: 97%;
  border-width: 2px;
  padding: 1em 0.5em;
  border-color: #575756;
  font-style: italic;
}
.home #contact .col-2,
.contacto #contact .col-2 {
  margin: 0 7px;
}
.destacadoindex {
  background-size: cover;
  height: 621px !important;
}
.borderultimospost {
  padding: 0 !important;
  margin: 0 !important;
}
.mision {
  border-right: 1px solid #fff;
  margin-right: -16px;
  padding: 12px;
}
#about {
  margin-top: 20px;
}
/* OPERADORES */
.op-main-text {
  width: 45%;
  text-align: left;
  margin-top: 0;
}
.op-main-text p {
  margin-top: 0;
  color: #fff;
  font-size: 1.19em;
}
#faq {
  display: table;
  background-color: #f0ede3;
  padding-top: 0;
  width: 100%;
  position: relative;
  padding-bottom: 0;
}
#faq .big-qa section {
  width: 45%;
}
#faq .big-qa h2 {
  text-align: center;
}
#faq h1 {
  margin-top: 0;
  color: #fff;
  text-align: center;
}
#faq > section {
  padding: 35px;
}
#faq article {
  width: 43%;
  display: table-cell;
  padding: 3em 2.2em 1.3em 2em;
  margin: 0;
  margin-top: 1px;
  min-height: 165px;
}
#faq article:nth-child(odd) {
  text-align: left;
  float: left;
}
#faq article:nth-child(1) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(4) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(5) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(8) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(9) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(12) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article:nth-child(13) {
  background-color: #fff;
}
#faq article:nth-child(even) {
  float: right;
}
#faq article:nth-child(even) p,
#faq article:nth-child(even) h2 {
  float: right;
  text-align: right;
}
#faq article p,
#faq article h2 {
  padding: 0;
  margin: 0;
}
#faq article h2 {
  font-size: 1em;
  text-transform: uppercase;
}
/* IMG DESTACADAS */
.dest-container {
  padding-top: 25px !important;
  margin-top: 15px;
  padding-bottom: 0 !important;
}
.dest-container h1,
.dest-container .w-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}
.dest-container section {
  position: relative;
}
.dest-container section:nth-child(2) {
  float: right;
  width: 50%;
  height: 305px;
}
.dest-container figure {
  margin: 0;
  position: absolute;
  bottom: -4px;
  right: 0;
}
.dest-title {
  margin: 0;
  margin-top: 55px;
  color: #189b94;
  font-size: 3em;
  font-weight: 800;
}
.corporativo .dest-title {
  color: #f07926;
}
.central-virtual .op-main-text {
  text-align: right;
}
.central-virtual figure {
  left: -65px;
  right: auto;
  top: -131px;
}
.central-virtual .dest-title {
  color: #5b8d88;
  text-align: right;
}
.particulares .dest-container section:nth-child(2) {
  height: 265px;
}
/* CENTRAL VIRTUAL */
#ct-vt h2 {
  text-transform: none;
  font-size: 2.5em;
}
#cy-ct .empaquenear h2,
#ct-go .empaquenear h2 {
  font-weight: 200;
  font-size: 2.5em;
  margin: 0;
}
#cy-ct .empaquenear p {
  padding-right: 167px;
}
#ct-go .empaquenear h2 {
  text-align: right;
}
#ct-go .empaquenear p {
  text-align: right;
  padding-left: 112px;
}
.gray-bar {
  width: 99.8%;
  height: 100px;
  background-color: #434343;
  margin-bottom: 0;
  margin-top: 0;
}
/* PARTICULARES */
.tdpvp {
  padding-bottom: 75px;
}
#tdp {
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  padding: 1em 4em;
}
#tdt-list {
  padding: 0 2em;
}
#tdt-list section {
  min-height: 215px;
  border-bottom: 2px solid #f7b88c;
  padding: 12px 0 12px 0;
  margin: 0;
}
#tdt-list section:nth-child(odd) {
  border-right: 2px solid #f7b88c;
  margin-right: -2px;
}
#tdt-list section:nth-child(even) {
  margin-left: -2px;
}
#tdt-list section:last-child,
#tdt-list section:nth-last-child(2) {
  border-bottom: none;
}
#tdt-list section figure img {
  padding: 19px;
}
#tdt-list section:last-child figure img {
  padding: 27px;
}
#tdt-list p,
#vr-mv {
  color: #fff;
  font-weight: 100;
  font-size: 0.9em;
  text-align: center;
  padding: 0 40px;
}
#tdt-list span[class*="icon-"] {
  color: #fff;
  font-size: 5em;
  text-align: center;
  min-height: 117px;
}
#tdt-list span[class*="icon-"]:before {
  vertical-align: middle;
}
#vr-mv {
  font-size: 1.4em;
  padding: 20px;
}
#vr-pg ul li {
  display: block;
  text-align: center;
  color: #f07926;
  font-size: 0.9em;
  min-height: 165px;
  border-right: 1px solid #f07926;
  margin: 0;
  padding: 8px;
}
#vr-pg ul li figure {
  padding: 20px;
}
#vr-pg ul li:first-child {
  border-bottom: 1px solid #f07926;
}
#vr-pg ul li:nth-child(2) {
  border-bottom: 1px solid #f07926;
}
#vr-pg ul li:nth-child(2) figure {
  padding-top: 28px;
}
#vr-pg ul li:nth-child(3) {
  border-bottom: 1px solid #f07926;
}
#vr-pg ul li:nth-child(3) figure {
  padding-top: 13px;
}
#vr-pg ul li:nth-child(4) {
  border-bottom: 1px solid #f07926;
  border-right: none;
}
#vr-pg ul li:nth-child(4) figure {
  padding-top: 35px;
}
#vr-pg ul li:nth-child(6) figure {
  padding-top: 14px;
}
#vr-pg ul li:nth-child(7) figure {
  padding-top: 14px;
}
#vr-pg ul li:nth-child(8) {
  border-right: none;
}
#vr-pg ul li:nth-child(8) figure {
  padding-top: 18px;
}
#vr-pg p {
  text-align: center;
  font-size: 1.3em;
  color: #434343;
}
.resp-img .gray-bar {
  height: auto;
  padding: 45px 0;
  margin: 0;
  background: #808080;
}
.resp-img .gray-bar span {
  width: 440px;
}
.resp-img .gray-bar a {
  display: inline-block;
}
.resp-img .gray-bar a:first-child {
  margin-right: 45px;
}
/* CONTACTO */
.contacto #contact {
  color: #fff;
}
.contacto #contact .btn {
  border-width: 1px;
  font-size: 0.8em;
  font-weight: 100;
  padding: 15px 75px;
}
.contacto #contact .btn.btn-send {
  border: none;
  background-color: #fff;
  color: #189b94;
  font-weight: bold;
  font-size: 0.9em;
}
.contacto form input[type="text"],
.contacto form textarea,
.contacto form input[type="email"] {
  background-color: #189b94 !important;
  border-color: #fff !important;
  border-width: 2px;
  color: #fff !important;
}
.contacto .dest-container {
  position: relative;
  padding: 0;
  margin: 0;
}
.contacto .dest-container div.pull-right {
  margin-right: 12%;
}
.contacto .dest-container .btn {
  position: absolute;
  left: 24%;
  bottom: 45%;
  width: 245px;
  padding: 25px 75px;
}
.contacto .dest-container .btn:hover {
  border: 2px solid #434343;
  color: #434343;
}
.contacto .dest-container img {
  margin-bottom: 82px;
}
.btn-orange:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: #f07926;
  color: #fff;
  background-color: #f07926 !important;
}
.btn-orange:active {
  border-color: #909090;
  color: #a1a1a1;
  background-color: #f07926 !important;
}
.btn-white:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: #fff !important;
  color: #f07926 !important;
  background-color: #fff !important;
}
.btn-white:active {
  border-color: #909090;
  color: #a1a1a1;
}
.btn-whiteParticulares:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: #fff !important;
  color: #f07926 !important;
  background-color: #fff !important;
}
.btn-whiteParticulares:active {
  border-color: #909090;
  color: #a1a1a1;
}
.papaultimamilla {
  position: relative;
}
.lineaultimamilla {
  background-image: url("../svg/linea-ultimamilla.svg");
  width: 340px;
  height: 475px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: -25px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: -24px;
}
.parrafoconsvg {
  margin-top: 20px !important;
}
.parrafoconsvg h2,
.parrafo2consvg h2 {
  font-size: 2em !important;
  font-weight: 300;
  text-transform: uppercase;
  width: 55%;
}
.parrafoconsvg p {
  width: 80%;
}
.triangululmill img {
  width: 320px;
  height: 233px;
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
}
.opcionesdatanetwork h3 {
  color: #fff;
}
.activolv {
  display: block;
}
.activolv h3 {
  color: #434343 !important;
}
.activolv svg path {
  fill: #dedede;
}
.btnactivosvg h3 {
  color: #434343 !important;
}
.btnactivosvg svg path {
  fill: #dedede;
}
.btnactivosvg svg polygon {
  fill: #dedede !important;
  transition: all 0.3s ease;
}
.parrafo2consvg {
  margin-top: 70px !important;
  text-align: right;
}
.parrafo2consvg h2 {
  width: 100%;
}
.parrafo2consvg p {
  padding-left: 16%;
  margin-top: 0px;
}
#ult-mil {
  height: 420px;
}
#ult-mil .btn {
  margin: 0;
}
.altoderegistrateparticular {
  height: 140px;
}
.LVBORRAR {
  padding-top: 40px;
}
body.operadores {
  overflow-x: hidden;
}
.op-blocks-hover ul {
  margin: 0;
  padding: 0;
  margin-right: -15px;
}
#datanetworkshovers h3 {
  color: #fff;
  text-align: right;
  font-weight: 100;
  font-size: 1.4em;
  position: absolute;
  z-index: 999;
  top: -92px;
  right: 10px;
  width: auto;
  text-transform: uppercase;
}
#datanetworkshovers li {
  display: block;
  background: transparent;
  height: 0px;
  margin-bottom: -21px;
  padding: 12px;
  border-top: 103px solid #5b8d88;
  border-left: 57px solid transparent;
  position: relative;
  width: 375px;
}
#datanetworkshovers li:nth-child(1) {
  margin-left: -5px;
}
#datanetworkshovers li:nth-child(1) h3 {
  top: -81px !important;
}
#datanetworkshovers li:nth-child(2) {
  margin-left: -58px;
  width: 428px;
}
#datanetworkshovers li:nth-child(3) {
  margin-left: -2px;
  width: 372px;
h3
}
#datanetworkshovers li:nth-child(4) {
  margin-left: 55px;
  width: 315px;
}
#datanetworkshovers .btnactivosvg {
  cursor: pointer;
  border-top: 103px solid #dedede !important;
}
.opcionescloudsolution ul {
  margin: 0;
}
.opcionescloudsolution ul li {
  display: block;
  background: transparent;
  height: 0px;
  margin-bottom: -21px;
  padding: 12px;
  border-top: 260px solid #5b8d88;
  border-right: 150px solid transparent;
  position: relative;
  width: 390px;
}
.opcionescloudsolution ul li:last-child {
  width: 239px;
  margin-bottom: -24px;
}
.opcionescloudsolution ul li h3 {
  color: #fff;
  text-align: left;
  font-weight: 100;
  font-size: 1.4em;
  position: absolute;
  z-index: 999;
  top: -145px;
  width: auto;
  text-transform: uppercase;
}
.opcionescloudsolution ul .btnactivosvg {
  border-top: 260px solid #dedede !important;
}
.s-int ul {
  margin: 0;
}
.s-int ul li {
  display: block;
  background: transparent;
  height: 0px;
  margin-bottom: -21px;
  padding: 12px;
  border-top: 126px solid #5b8d88;
  border-left: 71px solid transparent;
  position: relative;
  width: 426px;
}
.s-int ul li:nth-child(1) {
  margin-left: -105px;
}
.s-int ul li:nth-child(2) {
  margin-left: -91px;
  width: 412px;
}
.s-int ul li:nth-child(3) {
  margin-left: -19px;
  width: 341px;
  margin-bottom: -24px;
}
.s-int ul li h3 {
  color: #fff;
  text-align: right;
  font-weight: 100;
  font-size: 1.4em;
  position: absolute;
  z-index: 999;
  top: -110px;
  right: 10px;
  width: auto;
  text-transform: uppercase;
}
.s-int ul li:hover {
  cursor: pointer;
  border-top: 126px solid #dedede;
  transition: all 0.3s ease;
}
.s-int ul li:hover h3 {
  color: #434343 !important;
  transition: all 0.3s ease;
}
.s-int .btnactivosvg {
  cursor: pointer;
  border-top: 126px solid #dedede;
}
.tituloultimamilla {
  position: absolute;
  text-align: right;
}
.logosrelativos {
  position: relative;
  width: 100%;
}
.near2cloudlogo {
  width: 250px;
  height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
  z-index: 99;
}
.triancentral {
  position: absolute;
  z-index: 999;
  top: -11px;
  left: 390px;
}
.textsoftintegration {
  margin-top: 40px !important;
}
.textsoftintegration p {
  width: 350px;
}
.triangsoft {
  left: 336px !important;
}
.lineacloudsolution {
  background-image: url("../svg/linea-centralvirtual.svg");
  width: 340px;
  height: 583px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 307px;
  top: -23px;
}
.lineasoftwareintegra {
  background-image: url("../svg/linea-software.svg");
  width: 340px;
  height: 583px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 304px;
  top: -36px;
}
.fillply {
  fill: #5b8d88;
}
#tab1:hover,
#tab2:hover,
#tab3:hover,
#tab4:hover {
  cursor: pointer;
  border-top: 103px solid #dedede !important;
  transition: all 0.3s ease;
}
#tab1:hover h3,
#tab2:hover h3,
#tab3:hover h3,
#tab4:hover h3 {
  color: #434343 !important;
  transition: all 0.3s ease;
}
#tab5:hover,
#tab6:hover {
  cursor: pointer;
  border-top: 260px solid #dedede !important;
  transition: all 0.3s ease;
}
#tab5:hover h3,
#tab6:hover h3 {
  color: #434343 !important;
  transition: all 0.3s ease;
}
#cont5 h2,
#cont6 h2 {
  margin-top: 15px;
}
@media only screen and (min-width: 1081px) and (max-width: 1199px) {
  .destacadoindex {
    height: auto !important;
    min-height: 475px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* 1024 */
@media only screen and (min-width: 1023px) and (max-width: 1080px) {
  .destacadoindex {
    height: auto !important;
    min-height: 475px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* 1020 - 1021 */
@media only screen and (min-width: 1020px) and (max-width: 1022px) {
  .destacadoindex {
    height: auto !important;
    min-height: 375px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
    width: 600px !important;
  }
  .featurepost article figure {
    margin-top: -145px;
  }
}
/*  960 (devices and browsers) */
@media only screen and (min-width: 992px) and (max-width: 1019px) {
  .destacadoindex {
    height: auto !important;
    min-height: 375px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
    width: 600px !important;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
@media only screen and (min-width: 960px) and (max-width: 991px) {
  .destacadoindex {
    height: auto !important;
    min-height: 375px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
    width: 600px !important;
  }
  .near2c-2 .empaquenear .btn,
  .ct-sp .empaquenear .btn,
  .ct-vt-2 .empaquenear .btn {
    width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
  .near2c-2 .empaquenear img,
  .ct-sp .empaquenear img,
  .ct-vt-2 .empaquenear img {
    width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
  .ct-sp .pull-right {
    float: none !important;
  }
  .op-main-text p {
    padding-left: 9px;
  }
  .bgcentrosoporte ul li {
    margin-left: 30px;
  }
  #cy-ct .empaquenear h2,
  #cy-ct .empaquenear p {
    padding-left: 14px;
  }
  #cy-ct .empaquenear a.btn {
    margin-left: 14px;
  }
  .bgcibersysconnectgo ul li {
    margin-left: 22px;
  }
  .ultimospostindex .resumenultimospost {
    width: 260px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 799px) and (max-width: 959px) {
  .w-wrapper {
    width: 799px;
  }
  header ul li {
    margin-right: 0.1em;
  }
  .destacadoindex {
    height: auto !important;
    min-height: 375px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
    width: 600px !important;
  }
  #main-block article > a {
    display: none;
  }
  .mision {
    padding: 30px 0px;
  }
  .vision p {
    width: auto;
  }
  .vision .contenedoriconomisionvision {
    padding-top: 27px;
  }
  .contactanos h2 {
    padding-top: 25px;
  }
  .contactanos .btncentrodesoporteindex {
    display: none;
  }
  .contactanos .formulariodecontacto {
    width: auto;
  }
  .contactanos .radioP {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactanos .formulariodecontacto input[type="email"] {
    margin-top: 0;
  }
  .contactanos .formulariodecontacto .col-4 {
    width: 44% !important;
    margin-bottom: 15px !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
  }
  .contactanos .enviarmensaje {
    width: 91%;
  }
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 86%;
    border: 1px solid #434343 !important;
  }
  #faq article {
    width: 41%;
  }
  .near2cloudlogo {
    left: 215px;
  }
  .parrafo2consvg p {
    padding-left: 27%;
  }
  .resp-img .gray-bar a:first-child {
    margin-right: 0;
  }
  #vr-pg ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  #vr-pg ul li {
    border-right: none;
    border-bottom: 1px solid #f07926;
  }
  .op-blocks-hover ul,
  .opcionescloudsolution ul,
  .s-int ul {
    margin: 0 !important;
    padding: 0;
  }
  #datanetworkshovers li,
  .opcionescloudsolution ul li,
  .s-int ul li {
    position: static;
    height: auto !important;
    background: #5b8d88;
    margin: 0 !important;
    width: auto !important;
    border: none;
  }
  #datanetworkshovers li h3,
  .opcionescloudsolution ul li h3,
  .s-int ul li h3 {
    position: static !important;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover,
  #tab4:hover,
  #tab5:hover,
  #tab6:hover,
  .opcionescloudsolution ul .btnactivosvg {
    background: #dedede;
    border: 0 !important;
  }
  .parrafoconsvg h2,
  .parrafo2consvg h2 {
    width: auto;
  }
  .main-block h2 {
    font-size: 2em;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  .near2c-2 .empaquenear,
  .ct-vt-2 .empaquenear,
  #cy-ct .empaquenear {
    padding: 12px 40px 34px 50%;
  }
  .bgnear2cloud ul,
  .bgcentrosoporte ul,
  .bgcentralvirtual ul,
  .bgcibersysconnect ul,
  .bgcibersysconnectgo ul {
    margin: 0;
  }
  .bgnear2cloud ul li,
  .bgcentrosoporte ul li,
  .bgcentralvirtual ul li,
  .bgcibersysconnect ul li,
  .bgcibersysconnectgo ul li {
    direction: ltr;
    list-style: none;
    padding: 0;
  }
  .bgnear2cloud ul li h3,
  .bgcentrosoporte ul li h3,
  .bgcentralvirtual ul li h3,
  .bgcibersysconnect ul li h3,
  .bgcibersysconnectgo ul li h3 {
    text-align: center;
  }
  .ct-sp .empaquenear,
  #ct-go .empaquenear {
    padding: 14px 50% 57px 19px;
    margin: 0 -50% 0 -26px;
  }
  .central-virtual .dest-title {
    text-align: center;
  }
  #vr-pg ul li {
    padding: 0;
  }
  #ct-btn {
    padding-top: 25px;
  }
  .resp-img .gray-bar a:first-child {
    margin-right: 0;
  }
  #vr-pg ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  #vr-pg ul li {
    border-right: none;
    border-bottom: 1px solid #f07926;
  }
  .op-blocks-hover ul,
  .opcionescloudsolution ul,
  .s-int ul {
    margin: 0 !important;
    padding: 0;
  }
  #datanetworkshovers li,
  .opcionescloudsolution ul li,
  .s-int ul li {
    position: static;
    height: auto !important;
    background: #5b8d88;
    margin: 0 0 5px 0 !important;
    width: auto !important;
    border: none;
  }
  #datanetworkshovers li h3,
  .opcionescloudsolution ul li h3,
  .s-int ul li h3 {
    position: static !important;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover,
  #tab4:hover,
  #tab5:hover,
  #tab6:hover,
  .opcionescloudsolution ul .btnactivosvg {
    background: #dedede;
    border: 0 !important;
  }
  .s-int ul li:hover {
    background: #dedede;
    border: 0 !important;
  }
  .parrafoconsvg h2,
  .parrafo2consvg h2 {
    width: auto;
  }
  .main-block h2 {
    font-size: 2em;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  .near2c-2 .empaquenear,
  .ct-vt-2 .empaquenear,
  #cy-ct .empaquenear {
    padding: 12px 16px 35px 52%;
  }
  .bgnear2cloud ul,
  .bgcentrosoporte ul,
  .bgcentralvirtual ul,
  .bgcibersysconnect ul,
  .bgcibersysconnectgo ul {
    margin: 0;
  }
  .bgnear2cloud ul li,
  .bgcentrosoporte ul li,
  .bgcentralvirtual ul li,
  .bgcibersysconnect ul li,
  .bgcibersysconnectgo ul li {
    direction: ltr;
    list-style: none;
    padding: 0;
  }
  .bgnear2cloud ul li h3,
  .bgcentrosoporte ul li h3,
  .bgcentralvirtual ul li h3,
  .bgcibersysconnect ul li h3,
  .bgcibersysconnectgo ul li h3 {
    text-align: center;
  }
  .ct-sp .empaquenear,
  #ct-go .empaquenear {
    padding: 14px 50% 57px 15px;
    margin: 0px -50% 0 6px;
  }
  .central-virtual .dest-title {
    text-align: center;
  }
  #vr-pg ul li {
    padding: 0;
  }
  #ct-btn {
    padding: 25px 0;
  }
  #datanetworkshovers .btnactivosvg,
  .s-int .btnactivosvg {
    background: #dedede !important;
    border-top: 0 solid #dedede !important;
  }
  .logosrelativos,
  .papaultimamilla {
    display: none;
  }
  .parrafo2consvg {
    margin-top: 5px !important;
  }
  .near2c-2 .empaquenear .btn,
  .ct-sp .empaquenear .btn,
  .ct-vt-2 .empaquenear .btn,
  .near2c-2 .empaquenear img,
  .ct-sp .empaquenear img,
  .ct-vt-2 .empaquenear img {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
  .ct-sp .pull-right {
    float: none !important;
  }
  .op-main-text p {
    padding-left: 9px;
  }
  .particulares .dest-container figure {
    right: -62px;
  }
  .operadores .dest-container figure {
    bottom: -10px;
  }
  .ultimospostindex .resumenultimospost {
    width: 260px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 798px) {
  .w-wrapper {
    width: 768px;
  }
  header ul li {
    margin-right: 0.1em;
  }
  .destacadoindex {
    height: auto !important;
    min-height: 375px;
    margin-bottom: 25px;
  }
  .parabajarindex {
    display: none;
  }
  .contenedortituloprincipalindex {
    top: 65px;
    width: 600px !important;
  }
  #main-block article > a {
    display: none;
  }
  .mision {
    padding: 30px 0px;
  }
  .vision p {
    width: auto;
  }
  .vision .contenedoriconomisionvision {
    padding-top: 27px;
  }
  .contactanos h2 {
    padding-top: 25px;
  }
  .contactanos .btncentrodesoporteindex {
    display: none;
  }
  .contactanos .formulariodecontacto {
    width: auto;
  }
  .contactanos .radioP {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactanos .formulariodecontacto input[type="email"] {
    margin-top: 0;
  }
  .contactanos .formulariodecontacto .col-4 {
    width: 44% !important;
    margin-bottom: 15px !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
  }
  .contactanos .enviarmensaje {
    width: 91%;
  }
  .home #contact input[type="text"],
  .home #contact input[type="email"],
  .home #contact textarea {
    width: 86% !important;
    border: 1px solid #434343 !important;
  }
  .home #contact input[type="text"] input.nobr,
  .home #contact input[type="email"] input.nobr,
  .home #contact textarea input.nobr {
    margin-top: 20px !important;
  }
  footer {
    text-align: center;
  }
  .operadores header ul,
  .corporativo header ul,
  .particulares header ul,
  .central-virtual header ul,
  .contacto header ul {
    text-align: center;
    line-height: 1;
  }
  .operadores header ul li,
  .corporativo header ul li,
  .particulares header ul li,
  .central-virtual header ul li,
  .contacto header ul li {
    padding: 12px;
    margin: 0;
  }
  .dest-container section:nth-child(2) {
    display: none;
  }
  .dest-title {
    font-size: 2em;
    text-align: center;
  }
  .op-main-text {
    width: auto;
    text-align: center !important;
    padding-bottom: 15px;
  }
  .main-block h2 {
    padding-top: 35px;
  }
  .lineaultimamilla,
  .triangululmill,
  .logosrelativos {
    display: none;
  }
  .parrafoconsvg,
  .parrafo2consvg {
    margin-top: 25px !important;
    text-align: center;
    margin-bottom: 15px;
  }
  .parrafoconsvg p,
  .parrafo2consvg p {
    padding: 12px;
  }
  #ult-mil {
    height: auto;
    margin-bottom: 15px;
  }
  #tab1,
  #tab5 {
    margin-top: 35px !important;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  [class*="bg-software"] {
    background: #5b8d88;
    width: auto;
    height: auto;
    float: none;
  }
  [class*="bg-software"] h3 {
    text-align: center !important;
    padding: 4px 2em !important;
    margin: 8px 0 !important;
  }
  [class*="bg-software"] p {
    width: auto;
  }
  #faq {
    margin-bottom: 5px;
  }
  #faq article {
    width: 100% !important;
    float: left !important;
    background: #fff !important;
    padding: 35px 0 !important;
    margin: 0 !important;
    min-height: auto !important;
  }
  #faq article:first-child h2 {
    padding-top: 35px !important;
  }
  #faq article:nth-child(even) {
    background: #eeebe1 !important;
  }
  #faq article h2 {
    padding-bottom: 10px;
    text-align: center !important;
    float: none !important;
  }
  #faq article p {
    text-align: center !important;
    float: none !important;
  }
  #ct-btn {
    padding-top: 25px;
  }
  #ct-sp {
    margin-top: 15px;
  }
  .bgcentrosoporte1,
  .bgcentralvirtual1 {
    margin-top: 25px;
  }
  .empaquenear {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .empaquenear img,
  .empaquenear a {
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
  }
  .tarjeta-virtual {
    width: 80%;
    padding: 25px;
  }
  #tdp {
    padding: 1em;
  }
  #tdt-list section {
    border: none !important;
  }
  #tdt-list p {
    padding: 10px;
  }
  #vr-mv {
    padding: 0;
  }
  #vr-pg p {
    padding: 10px;
  }
  .central-virtual h2,
  .central-virtual p {
    text-align: center !important;
  }
  #cy-ct .empaquenear p,
  #ct-go .empaquenear p {
    padding: 0;
  }
  .imagenyboton #botonccontacto {
    position: static;
    width: auto;
    padding: 15px;
    margin-top: 62px;
    display: block;
  }
  .imagenyboton img {
    display: none;
  }
  .headercontacto {
    height: auto;
  }
  .contacto .dest-container div.pull-right {
    margin: 0;
  }
  .contactanos {
    margin-top: 0;
  }
  .contactanos .formulariodecontacto2 {
    width: auto;
  }
  .contactanos .formulariodecontacto2 input[type="text"],
  .contactanos .formulariodecontacto2 input[type="email"],
  .contactanos .formulariodecontacto2 textarea {
    width: 94% !important;
    border-color: #fff !important;
  }
  .contactanos .btncentrodesoportewhite {
    border-bottom: 1px solid #fff;
  }
  .bgnear2cloud1 {
    margin-top: 35px;
  }
  .resp-img .gray-bar a:first-child {
    margin-right: 0;
  }
  #vr-pg ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  #vr-pg ul li {
    border-right: none;
    border-bottom: 1px solid #f07926;
  }
  .op-blocks-hover ul,
  .opcionescloudsolution ul,
  .s-int ul {
    margin: 0 !important;
    padding: 0;
  }
  #datanetworkshovers li,
  .opcionescloudsolution ul li,
  .s-int ul li {
    position: static;
    height: auto !important;
    background: #5b8d88;
    margin: 0 !important;
    width: auto !important;
    border: none;
  }
  #datanetworkshovers li h3,
  .opcionescloudsolution ul li h3,
  .s-int ul li h3 {
    position: static !important;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover,
  #tab4:hover,
  #tab5:hover,
  #tab6:hover,
  .opcionescloudsolution ul .btnactivosvg {
    background: #dedede;
    border: 0 !important;
  }
  .parrafoconsvg h2,
  .parrafo2consvg h2 {
    width: auto;
  }
  .main-block h2 {
    font-size: 2em;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  .near2c-2 .empaquenear,
  .ct-vt-2 .empaquenear,
  #cy-ct .empaquenear {
    padding: 12px 28px 34px 50%;
  }
  .bgnear2cloud ul,
  .bgcentrosoporte ul,
  .bgcentralvirtual ul,
  .bgcibersysconnect ul,
  .bgcibersysconnectgo ul {
    margin: 0;
  }
  .bgnear2cloud ul li,
  .bgcentrosoporte ul li,
  .bgcentralvirtual ul li,
  .bgcibersysconnect ul li,
  .bgcibersysconnectgo ul li {
    direction: ltr;
    list-style: none;
    padding: 0;
  }
  .bgnear2cloud ul li h3,
  .bgcentrosoporte ul li h3,
  .bgcentralvirtual ul li h3,
  .bgcibersysconnect ul li h3,
  .bgcibersysconnectgo ul li h3 {
    text-align: center;
  }
  .ct-sp .empaquenear,
  #ct-go .empaquenear {
    padding: 14px 50% 57px 19px;
    margin: 0 -50% 0 -26px;
  }
  .central-virtual .dest-title {
    text-align: center;
  }
  #vr-pg ul li {
    padding: 0;
  }
  #ct-btn {
    padding: 25px 0;
  }
  #datanetworkshovers .btnactivosvg,
  .s-int .btnactivosvg {
    background: #dedede !important;
    border-top: 0 solid #dedede !important;
  }
  .ultimospostindex .resumenultimospost {
    width: 260px;
  }
  .titulotheneweasy {
    margin-top: 35px;
  }
  .postindex figure img {
    width: 100% !important;
    height: auto !important;
  }
  .featurepost {
    margin-top: 15px;
  }
  .featurepost article {
    width: 100% !important;
    padding: 0;
    margin: 0;
    background-color: #fff;
    margin-bottom: 25px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 533px) and (max-width: 767px) {
  .w-wrapper {
    width: 533px;
  }
  .pull-right,
  .pull-left {
    float: none !important;
  }
  .container > section {
    padding-top: 0;
  }
  header {
    width: 100%;
  }
  header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  header .social-main {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home nav {
    display: none;
  }
  [class*="col-"] {
    width: 100% !important;
    float: none;
    margin: 0;
    padding: 0;
  }
  .destacadoindex {
    height: auto !important;
    min-height: 175px;
    margin-bottom: 25px;
  }
  .parabajarindex,
  .contenedortituloprincipalindex {
    display: none;
  }
  #about,
  .parabajarindex {
    display: none;
  }
  #main-block article > a {
    display: none;
  }
  .contactanos h2 {
    padding-top: 25px;
  }
  .contactanos .btncentrodesoporteindex {
    display: none;
  }
  .contactanos .formulariodecontacto {
    width: auto;
  }
  .contactanos .radioP {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactanos .formulariodecontacto input[type="email"] {
    margin-top: 0;
  }
  .contactanos .enviarmensaje {
    width: 91%;
  }
  .home #contact input[type="text"],
  .home #contact input[type="email"],
  .home #contact textarea {
    width: 86% !important;
    border: 1px solid #434343 !important;
  }
  .home #contact input[type="text"] input.nobr,
  .home #contact input[type="email"] input.nobr,
  .home #contact textarea input.nobr {
    margin-top: 20px !important;
  }
  footer {
    text-align: center;
  }
  .operadores header ul,
  .corporativo header ul,
  .particulares header ul,
  .central-virtual header ul,
  .contacto header ul {
    text-align: center;
    line-height: 1;
  }
  .operadores header ul li,
  .corporativo header ul li,
  .particulares header ul li,
  .central-virtual header ul li,
  .contacto header ul li {
    padding: 12px;
    margin: 0;
  }
  .dest-container section:nth-child(2) {
    display: none;
  }
  .dest-title {
    font-size: 2em;
    text-align: center;
  }
  .op-main-text {
    width: auto;
    text-align: center !important;
    padding-bottom: 15px;
  }
  .main-block h2 {
    padding-top: 35px;
  }
  .lineaultimamilla,
  .triangululmill,
  .logosrelativos {
    display: none;
  }
  .parrafoconsvg,
  .parrafo2consvg {
    margin-top: 25px !important;
    text-align: center;
    margin-bottom: 15px;
  }
  .parrafoconsvg p,
  .parrafo2consvg p {
    padding: 12px;
    width: auto;
  }
  #ult-mil {
    height: auto;
    margin-bottom: 15px;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  [class*="bg-software"] {
    background: #5b8d88;
    width: auto;
    height: auto;
    float: none;
  }
  h3 {
    text-align: center !important;
    padding: 4px !important;
    margin: 8px 0 !important;
  }
  p {
    width: auto;
  }
  #faq {
    margin-bottom: 5px;
  }
  #faq article {
    width: auto !important;
    float: left !important;
    background: #fff !important;
    padding: 35px 0 !important;
    margin: 0 !important;
    min-height: auto;
  }
  #faq article:first-child h2 {
    padding-top: 35px !important;
  }
  #faq article:nth-child(even) {
    background: #eeebe1 !important;
  }
  #faq article h2 {
    padding-bottom: 10px;
    text-align: center !important;
    float: none !important;
  }
  #faq article p {
    text-align: center !important;
    float: none !important;
  }
  #ct-sp {
    margin-top: 15px;
  }
  .empaquenear img,
  .empaquenear a {
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
  }
  .tarjeta-virtual {
    width: 80%;
    padding: 25px;
  }
  #tdp {
    padding: 1em;
  }
  #tdt-list section {
    border: none !important;
  }
  #tdt-list p {
    padding: 10px;
  }
  #vr-mv {
    padding: 0;
  }
  #vr-pg p {
    padding: 10px;
  }
  .central-virtual h2,
  .central-virtual p {
    text-align: center !important;
  }
  #cy-ct .empaquenear p,
  #ct-go .empaquenear p {
    padding: 0;
  }
  .imagenyboton #botonccontacto {
    position: static;
    width: auto;
    padding: 15px;
    margin-top: 62px;
    display: block;
  }
  .imagenyboton img {
    display: none;
  }
  .headercontacto {
    height: auto;
  }
  .contacto .dest-container div.pull-right {
    margin: 0;
  }
  .contactanos {
    margin-top: 0;
  }
  .contactanos .formulariodecontacto2 {
    width: auto;
  }
  .contactanos .formulariodecontacto2 input[type="text"],
  .contactanos .formulariodecontacto2 input[type="email"],
  .contactanos .formulariodecontacto2 textarea {
    width: 94% !important;
    border-color: #fff !important;
  }
  .contactanos .btncentrodesoportewhite {
    border-bottom: 1px solid #fff;
  }
  .resp-img .gray-bar a:first-child {
    margin-right: 0;
  }
  #vr-pg ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  #vr-pg ul li {
    border-right: none;
    border-bottom: 1px solid #f07926;
  }
  .op-blocks-hover ul,
  .opcionescloudsolution ul,
  .s-int ul {
    margin: 0 !important;
    padding: 0;
  }
  #datanetworkshovers li,
  .opcionescloudsolution ul li,
  .s-int ul li {
    position: static;
    height: auto !important;
    background: #5b8d88;
    margin: 0 !important;
    width: auto !important;
    border: none;
  }
  #datanetworkshovers li h3,
  .opcionescloudsolution ul li h3,
  .s-int ul li h3 {
    position: static !important;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover,
  #tab4:hover,
  #tab5:hover,
  #tab6:hover,
  .opcionescloudsolution ul .btnactivosvg {
    background: #dedede;
    border: 0 !important;
  }
  .parrafoconsvg h2,
  .parrafo2consvg h2 {
    width: auto;
  }
  .main-block h2 {
    font-size: 2em;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  .near2c-2 .empaquenear,
  .ct-vt-2 .empaquenear,
  #cy-ct .empaquenear {
    padding: 12px 40px 34px 50%;
  }
  .bgnear2cloud ul,
  .bgcentrosoporte ul,
  .bgcentralvirtual ul,
  .bgcibersysconnect ul,
  .bgcibersysconnectgo ul {
    margin: 0;
  }
  .bgnear2cloud ul li,
  .bgcentrosoporte ul li,
  .bgcentralvirtual ul li,
  .bgcibersysconnect ul li,
  .bgcibersysconnectgo ul li {
    direction: ltr;
    list-style: none;
    padding: 0;
  }
  .bgnear2cloud ul li h3,
  .bgcentrosoporte ul li h3,
  .bgcentralvirtual ul li h3,
  .bgcibersysconnect ul li h3,
  .bgcibersysconnectgo ul li h3 {
    text-align: center;
  }
  .ct-sp .empaquenear,
  #ct-go .empaquenear {
    padding: 14px 50% 57px 19px;
    margin: 0 -50% 0 -26px;
  }
  .central-virtual .dest-title {
    text-align: center;
  }
  #vr-pg ul li {
    padding: 0;
  }
  #ct-btn {
    padding: 25px 0;
  }
  #datanetworkshovers,
  .btnactivosvg {
    background: #dedede !important;
    border-top: 0 solid #dedede;
  }
  .ultimospostindex {
    margin-top: 20px;
  }
  .ultimospostindex .resumenultimospost {
    width: 100%;
    float: none;
  }
  .ultimospostindex figure {
    width: auto;
  }
  .ultimospostindex figure img {
    width: 100%;
    height: auto;
  }
  .titulotheneweasy {
    margin-top: 35px;
  }
  .postindex figure img {
    width: 100% !important;
    height: auto !important;
  }
  .featurepost {
    margin-top: 15px;
    width: 90%;
  }
  .featurepost article {
    width: 100% !important;
    padding: 0;
    margin: 0;
    background-color: #fff;
    margin-bottom: 25px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 532px) {
  .w-wrapper {
    width: 480px;
  }
  .pull-right,
  .pull-left {
    float: none !important;
  }
  .container > section {
    padding-top: 0;
  }
  header {
    width: 100%;
  }
  header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  header .social-main {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home nav {
    display: none;
  }
  [class*="col-"] {
    width: 100% !important;
    float: none;
    margin: 0;
    padding: 0;
  }
  .destacadoindex {
    height: auto !important;
    min-height: 175px;
    margin-bottom: 25px;
  }
  .parabajarindex,
  .contenedortituloprincipalindex {
    display: none;
  }
  #about,
  .parabajarindex {
    display: none;
  }
  #main-block article > a {
    display: none;
  }
  .contactanos h2 {
    padding-top: 25px;
  }
  .contactanos .btncentrodesoporteindex {
    display: none;
  }
  .contactanos .formulariodecontacto {
    width: auto;
  }
  .contactanos .radioP {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactanos .formulariodecontacto input[type="email"] {
    margin-top: 0;
  }
  .contactanos .enviarmensaje {
    width: 91%;
  }
  .home #contact input[type="text"],
  .home #contact input[type="email"],
  .home #contact textarea {
    width: 86% !important;
    border: 1px solid #434343 !important;
  }
  .home #contact input[type="text"] input.nobr,
  .home #contact input[type="email"] input.nobr,
  .home #contact textarea input.nobr {
    margin-top: 20px !important;
  }
  footer {
    text-align: center;
  }
  .operadores header ul,
  .corporativo header ul,
  .particulares header ul,
  .central-virtual header ul,
  .contacto header ul {
    text-align: center;
    line-height: 1;
  }
  .operadores header ul li,
  .corporativo header ul li,
  .particulares header ul li,
  .central-virtual header ul li,
  .contacto header ul li {
    padding: 12px;
    margin: 0;
  }
  .dest-container section:nth-child(2) {
    display: none;
  }
  .dest-title {
    font-size: 2em;
    text-align: center;
  }
  .op-main-text {
    width: auto;
    text-align: center !important;
    padding-bottom: 15px;
  }
  .main-block h2 {
    padding-top: 35px;
  }
  .lineaultimamilla,
  .triangululmill,
  .logosrelativos {
    display: none;
  }
  .parrafoconsvg,
  .parrafo2consvg {
    margin-top: 25px !important;
    text-align: center;
    margin-bottom: 15px;
  }
  .parrafoconsvg p,
  .parrafo2consvg p {
    padding: 12px;
  }
  svg,
  #svg1,
  #svg2,
  #svg3,
  #svg4 {
    display: none !important;
  }
  #ult-mil {
    height: auto;
    margin-bottom: 15px;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  [class*="bg-software"] {
    background: #5b8d88;
    width: auto;
    height: auto;
    float: none;
  }
  [class*="bg-software"] h3 {
    text-align: center !important;
    padding: 4px !important;
    margin: 8px 0 !important;
  }
  [class*="bg-software"] p {
    width: auto;
  }
  #faq {
    margin-bottom: 5px;
  }
  #faq article {
    width: auto !important;
    float: left !important;
    background: #fff !important;
    padding: 35px 0 !important;
    margin: 0 !important;
    min-height: auto;
  }
  #faq article:first-child h2 {
    padding-top: 35px !important;
  }
  #faq article:nth-child(even) {
    background: #eeebe1 !important;
  }
  #faq article h2 {
    padding-bottom: 10px;
    text-align: center !important;
    float: none !important;
  }
  #faq article p {
    text-align: center !important;
    float: none !important;
  }
  #ct-sp {
    margin-top: 15px;
  }
  .empaquenear img,
  .empaquenear a {
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
  }
  .tarjeta-virtual {
    width: 80%;
    padding: 25px;
  }
  #tdp {
    padding: 1em;
  }
  #tdt-list section {
    border: none !important;
  }
  #tdt-list p {
    padding: 10px;
  }
  #vr-mv {
    padding: 0;
  }
  #vr-pg p {
    padding: 10px;
  }
  .central-virtual h2,
  .central-virtual p {
    text-align: center !important;
  }
  #cy-ct .empaquenear p,
  #ct-go .empaquenear p {
    padding: 0;
  }
  .imagenyboton #botonccontacto {
    position: static;
    width: auto;
    padding: 15px;
    margin-top: 62px;
    display: block;
  }
  .imagenyboton img {
    display: none;
  }
  .headercontacto {
    height: auto;
  }
  .contacto .dest-container div.pull-right {
    margin: 0;
  }
  .contactanos {
    margin-top: 0;
  }
  .contactanos .formulariodecontacto2 {
    width: auto;
  }
  .contactanos .formulariodecontacto2 input[type="text"],
  .contactanos .formulariodecontacto2 input[type="email"],
  .contactanos .formulariodecontacto2 textarea {
    width: 94% !important;
    border-color: #fff !important;
  }
  .contactanos .btncentrodesoportewhite {
    border-bottom: 1px solid #fff;
  }
  .resp-img .gray-bar a:first-child {
    margin-right: 0;
  }
  #vr-pg ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  #vr-pg ul li {
    border-right: none;
    border-bottom: 1px solid #f07926;
  }
  .op-blocks-hover ul,
  .opcionescloudsolution ul,
  .s-int ul {
    margin: 0 !important;
    padding: 0;
  }
  #datanetworkshovers li,
  .opcionescloudsolution ul li,
  .s-int ul li {
    position: static;
    height: auto !important;
    background: #5b8d88;
    margin: 0 !important;
    width: auto !important;
    border: none;
  }
  #datanetworkshovers li h3,
  .opcionescloudsolution ul li h3,
  .s-int ul li h3 {
    position: static !important;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover,
  #tab4:hover,
  #tab5:hover,
  #tab6:hover,
  .opcionescloudsolution ul .btnactivosvg {
    background: #dedede;
    border: 0 !important;
  }
  .parrafoconsvg h2,
  .parrafo2consvg h2 {
    width: auto;
  }
  .main-block h2 {
    font-size: 2em;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  .near2c-2 .empaquenear,
  .ct-vt-2 .empaquenear,
  #cy-ct .empaquenear {
    padding: 12px 40px 34px 50%;
  }
  .bgnear2cloud ul,
  .bgcentrosoporte ul,
  .bgcentralvirtual ul,
  .bgcibersysconnect ul,
  .bgcibersysconnectgo ul {
    margin: 0;
  }
  .bgnear2cloud ul li,
  .bgcentrosoporte ul li,
  .bgcentralvirtual ul li,
  .bgcibersysconnect ul li,
  .bgcibersysconnectgo ul li {
    direction: ltr;
    list-style: none;
    padding: 0;
  }
  .bgnear2cloud ul li h3,
  .bgcentrosoporte ul li h3,
  .bgcentralvirtual ul li h3,
  .bgcibersysconnect ul li h3,
  .bgcibersysconnectgo ul li h3 {
    text-align: center;
  }
  .ct-sp .empaquenear,
  #ct-go .empaquenear {
    padding: 14px 50% 57px 19px;
    margin: 0 -50% 0 -26px;
  }
  .central-virtual .dest-title {
    text-align: center;
  }
  #vr-pg ul li {
    padding: 0;
  }
  #ct-btn {
    padding: 25px 0;
  }
  .ultimospostindex {
    margin-top: 25px;
  }
  .ultimospostindex .resumenultimospost,
  .ultimospostindex figure {
    float: none;
    width: auto;
    height: auto;
  }
  .ultimospostindex .resumenultimospost img,
  .ultimospostindex figure img {
    width: 100%;
  }
  .titulotheneweasy {
    margin-top: 35px;
  }
  .postindex figure img {
    width: 100% !important;
    height: auto !important;
  }
  .featurepost {
    margin-top: 15px;
    width: 90%;
  }
  .featurepost article {
    width: 100% !important;
    padding: 0;
    margin: 0;
    background-color: #fff;
    margin-bottom: 25px;
  }
  .featurepost article figure {
    margin-top: 0;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .w-wrapper {
    width: 354px;
  }
  .w-wrapper .centrarBotones {
    width: 70%;
    margin: 0 auto;
  }
  .pull-right,
  .pull-left {
    float: none !important;
  }
  .container > section {
    padding-top: 0;
  }
  header {
    width: 100%;
  }
  header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  header .social-main {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home nav {
    display: none;
  }
  [class*="col-"] {
    width: 100% !important;
    float: none;
    margin: 0;
    padding: 0;
  }
  .destacadoindex {
    height: auto !important;
    min-height: 175px;
    margin-bottom: 25px;
  }
  .parabajarindex,
  .contenedortituloprincipalindex {
    display: none;
  }
  #about,
  .parabajarindex {
    display: none;
  }
  #main-block article > a {
    display: none;
  }
  .contactanos h2 {
    padding-top: 25px;
  }
  .contactanos .btncentrodesoporteindex {
    display: none;
  }
  .contactanos .formulariodecontacto {
    width: auto;
  }
  .contactanos .radioP {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactanos .formulariodecontacto input[type="email"] {
    margin-top: 0;
  }
  .contactanos .enviarmensaje {
    width: 91%;
  }
  .home #contact input[type="text"],
  .home #contact input[type="email"],
  .home #contact textarea {
    width: 86% !important;
    border: 1px solid #434343 !important;
  }
  .home #contact input[type="text"] input.nobr,
  .home #contact input[type="email"] input.nobr,
  .home #contact textarea input.nobr {
    margin-top: 20px !important;
  }
  footer {
    text-align: center;
  }
  .operadores header ul,
  .corporativo header ul,
  .particulares header ul,
  .central-virtual header ul,
  .contacto header ul {
    text-align: center;
    line-height: 1;
  }
  .operadores header ul li,
  .corporativo header ul li,
  .particulares header ul li,
  .central-virtual header ul li,
  .contacto header ul li {
    padding: 12px;
    margin: 0;
  }
  .dest-container section:nth-child(2) {
    display: none;
  }
  .dest-title {
    font-size: 2em;
    text-align: center;
  }
  .op-main-text {
    width: auto;
    text-align: center !important;
    padding-bottom: 15px;
  }
  .main-block h2 {
    padding-top: 35px;
  }
  .lineaultimamilla,
  .triangululmill,
  .logosrelativos {
    display: none;
  }
  .parrafoconsvg,
  .parrafo2consvg {
    margin-top: 25px !important;
    text-align: center;
    margin-bottom: 15px;
  }
  .parrafoconsvg p,
  .parrafo2consvg p {
    padding: 0;
    width: auto;
  }
  #ult-mil {
    height: auto;
    margin-bottom: 15px;
  }
  [class*="bg-software"] {
    background: #5b8d88;
    width: auto;
    height: auto;
    float: none;
  }
  [class*="bg-software"] h3 {
    text-align: center !important;
    padding: 4px !important;
    margin: 8px 0 !important;
  }
  [class*="bg-software"] p {
    width: auto;
  }
  #faq {
    margin-bottom: 5px;
  }
  #faq article {
    width: auto !important;
    float: left !important;
    background: #fff !important;
    padding: 35px 0 !important;
    margin: 0 !important;
    min-height: auto;
  }
  #faq article:first-child h2 {
    padding-top: 35px !important;
  }
  #faq article:nth-child(even) {
    background: #eeebe1 !important;
  }
  #faq article h2 {
    padding-bottom: 10px;
    text-align: center !important;
    float: none !important;
  }
  #faq article p {
    text-align: center !important;
    float: none !important;
  }
  #ct-sp {
    margin-top: 15px;
  }
  .empaquenear img,
  .empaquenear a {
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
  }
  .tarjeta-virtual {
    width: 80%;
    padding: 25px;
  }
  #tdp {
    padding: 1em;
  }
  #tdt-list section {
    border: none !important;
  }
  #tdt-list p {
    padding: 10px;
  }
  #vr-mv {
    padding: 0;
  }
  #vr-pg p {
    padding: 10px;
  }
  .central-virtual h2,
  .central-virtual p {
    text-align: center !important;
  }
  #cy-ct .empaquenear p,
  #ct-go .empaquenear p {
    padding: 0;
  }
  .imagenyboton #botonccontacto {
    position: static;
    width: auto;
    padding: 15px;
    margin-top: 62px;
    display: block;
  }
  .imagenyboton img {
    display: none;
  }
  .headercontacto {
    height: auto;
  }
  .contacto .dest-container div.pull-right {
    margin: 0;
  }
  .contactanos {
    margin-top: 0;
  }
  .contactanos .formulariodecontacto2 {
    width: auto;
  }
  .contactanos .formulariodecontacto2 input[type="text"],
  .contactanos .formulariodecontacto2 input[type="email"],
  .contactanos .formulariodecontacto2 textarea {
    width: 94% !important;
    border-color: #fff !important;
  }
  .contactanos .btncentrodesoportewhite {
    border-bottom: 1px solid #fff;
  }
  .resp-img .gray-bar a:first-child {
    margin-right: 0;
  }
  #vr-pg ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  #vr-pg ul li {
    border-right: none;
    border-bottom: 1px solid #f07926;
  }
  .op-blocks-hover ul,
  .opcionescloudsolution ul,
  .s-int ul {
    margin: 0 !important;
    padding: 0;
  }
  #datanetworkshovers li,
  .opcionescloudsolution ul li,
  .s-int ul li {
    position: static;
    height: auto !important;
    background: #5b8d88;
    margin: 0 !important;
    width: auto !important;
    border: none;
  }
  #datanetworkshovers li h3,
  .opcionescloudsolution ul li h3,
  .s-int ul li h3 {
    position: static !important;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  #tab1:hover,
  #tab2:hover,
  #tab3:hover,
  #tab4:hover,
  #tab5:hover,
  #tab6:hover,
  .opcionescloudsolution ul .btnactivosvg {
    background: #dedede;
    border: 0 !important;
  }
  .parrafoconsvg h2,
  .parrafo2consvg h2 {
    width: auto;
  }
  .main-block h2 {
    font-size: 2em;
  }
  .textsoftintegration {
    text-align: center;
    margin-top: 25px !important;
  }
  .textsoftintegration p {
    width: auto;
  }
  .near2c-2 .empaquenear,
  .ct-vt-2 .empaquenear,
  #cy-ct .empaquenear {
    padding: 12px 16px 34px 50%;
  }
  .bgnear2cloud ul,
  .bgcentrosoporte ul,
  .bgcentralvirtual ul,
  .bgcibersysconnect ul,
  .bgcibersysconnectgo ul {
    margin: 0;
  }
  .bgnear2cloud ul li,
  .bgcentrosoporte ul li,
  .bgcentralvirtual ul li,
  .bgcibersysconnect ul li,
  .bgcibersysconnectgo ul li {
    direction: ltr;
    list-style: none;
    padding: 0;
  }
  .bgnear2cloud ul li h3,
  .bgcentrosoporte ul li h3,
  .bgcentralvirtual ul li h3,
  .bgcibersysconnect ul li h3,
  .bgcibersysconnectgo ul li h3 {
    text-align: center;
  }
  .ct-sp .empaquenear,
  #ct-go .empaquenear {
    padding: 14px 50% 57px 17px;
    margin: 0 -50% 0 -18px;
  }
  .central-virtual .dest-title {
    text-align: center;
  }
  #vr-pg ul li {
    padding: 0;
  }
  #ct-btn {
    padding: 25px 0;
  }
  .ultimospostindex {
    margin-top: 25px;
  }
  .ultimospostindex .resumenultimospost,
  .ultimospostindex figure {
    float: none;
    width: auto;
    height: auto;
  }
  .ultimospostindex .resumenultimospost img,
  .ultimospostindex figure img {
    width: 100%;
  }
  .titulotheneweasy {
    margin-top: 35px;
  }
  .postindex figure img {
    width: 100% !important;
    height: auto !important;
  }
  .featurepost {
    margin-top: 15px;
    width: 90%;
  }
  .featurepost article {
    width: 100% !important;
/*padding 0*/
    margin: 50px 0;
    background-color: #eaeaea;
/*margin-bottom 25px*/
  }
  .featurepost article figure {
    margin-top: -145px;
  }
}
/* --- less that 320 ---*/
@media only screen and (max-width: 321px) {
  .w-wrapper {
    width: 300px;
  }
  .destacadoindex {
    min-height: 147px;
  }
  .resp-img .gray-bar span {
    width: 41px;
    display: table !important;
  }
  .featurepost {
    width: 90%;
  }
  .featurepost article figure {
    margin-top: -145px;
  }
}
