naranja = #F07926
grisclaro = #EEEBE1
grisoscuro = #434343
verdepalido = #5B8D88
verdevivo = #189B94


@css{
/*@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,700,600");*/

/* icomoon */
@font-face {
	font-family: 'sitioweb';
	src:url('../fonts/sitioweb.eot?u7cx7i');
	src:url('../fonts/sitioweb.eot?#iefixu7cx7i') format('embedded-opentype'),
		url('../fonts/sitioweb.ttf?u7cx7i') format('truetype'),
		url('../fonts/sitioweb.woff?u7cx7i') format('woff'),
		url('../fonts/sitioweb.svg?u7cx7i#sitioweb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sitioweb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icono-bajar:before {
	content: "\e600";
	font-size: 3em;
	color:#F07926;
}

.icon-icono-facebook:before {
	content: "\e601";
}
.icon-icono-google-plus:before {
	content: "\e602";
}
.icon-icono-linkedin:before {
	content: "\e603";
}
.icon-icono-twitter:before {
	content: "\e604";
}
.icon-icono-a-donde-quiera:before {
	content: "\e605";
	/*font-size:  5em; COMENTE ESTO PORQUE AFECTA SOLO A UNO*/ 
}
.icon-icono-bajar-outline:before {
	content: "\e606";

}

.terminosycondiciones .icon-icono-bajar-outline:before {
	content: "\e606";
	font-size: 4em;
	color: #434343;
width: 50px;
height: 50px;
margin: 0 auto 50px auto;
display: block;}

.icon-icono-centro-de-soporte:before {
	content: "\e607";
}
.icon-icono-compartir:before {
	content: "\e608";
}
.icon-icono-generar-perfil:before {
	content: "\e609";
}
.icon-icono-hola:before {
	content: "\e60a";
}
.icon-icono-mision:before {
	content: "\e60b";
	font-size: 5em;
}
.icon-icono-nube:before {
	content: "\e60c";
}
.icon-icono-preguntas-frecuentes:before {
	  content: "\e60d";
  color: white;
  background-color: #434343;
  font-size: 40px;
  border-radius: 50%;
  padding: 20px;
  width: 40px;
  display: block;
  height: 40px;
  text-align: center;
  vertical-align: super;
  margin: -50px auto -10px auto;
  z-index: 25;
  position: relative;
}
.icon-icono-registrarse:before {
	content: "\e60e";
}
.icon-icono-vision:before {
	content: "\e60f";
	font-size: 4em;
}
.icon-home3:before {
	content: "\e902";
	font-size: 1.5em;
	padding-right: 10px;
}
.icon-phone:before {
	content: "\e942";
	font-size: 1.5em;
	padding-right: 10px;
}
}



/* para el main.js*/ 
.activo
    display block

.oculto
    display none

.btncentrodesoportecontacto
		outline 1px solid naranja
		color naranja
		text-decoration none
		padding 20px 40px
		margin 20px auto
		width 330px
		display inline-block
		text-align center
		&:hover
			outline 1px solid grisoscuro
			color grisoscuro

	.icon-icono-centro-de-soporte:before 
		content: "\e607"
		font-size 2.5em
		vertical-align middle
		padding-right 10px

	


body
	font-family: 'Open Sans', sans-serif;

/* footer*/
footer
	background-color: grisoscuro

	a 
		color: white
		text-decoration: none
		&:hover
			color: naranja

	.icon-icono-twitter:before, .icon-icono-linkedin:before, .icon-icono-facebook:before, .icon-icono-google-plus:before 
		font-size 2em


	h6
		color: white 
		text-align: center


/* header */
.social-main
	.icon-icono-twitter:before, .icon-icono-linkedin:before, .icon-icono-facebook:before, .icon-icono-google-plus:before 
		font-size 1.5em

	a
		color grisoscuro
		text-decoration none
		&:hover
			color naranja

nav
	a
		color grisoscuro
		text-decoration none
		font-weight 700
		&:hover
			color naranja


/* imagen destacada index*/
.destacadoindex
	background-image url("../img/bg-top-principal-lv.jpg") /* QUITE EL SVG POR UN PNG - YORMAN */
	height 445px
	background-repeat no-repeat 
	position relative

	.parabajarindex
		width 60px
		height 60px
		position absolute
		bottom 50px
		left 47%

.contenedortituloprincipalindex
	margin 0 auto
	width 670px
	top 100px
	position relative
	 

.titulodestacado1
	color white
	background-color rgba(0,0,0, 0.5)
	display  inline-block
	padding 5px 10px
	font-size 1.5em
	text-align center
	margin-left 25px

.titulodestacado2
	color white
	background-color rgba(0,0,0, 0.5)
	display  inline-block
	padding 5px 10px
	font-size 3em

.titulodestacado3
	color white
	background-color rgba(0,0,0, 0.5)
	display  inline-block
	padding 5px 10px
	font-size 4em
	font-weight 600
	letter-spacing 2px

.titulodestacado4
	color white
	background-color rgba(0,0,0, 0.5)
	display  inline-block
	padding 5px 10px
	font-size 1.2em
	margin-left 155px


/* servicios index */
.servicios-index
	a
		outline 1px solid grisoscuro
		color grisoscuro
		padding 10px 0
		width 100%
		display block
		text-decoration none
		&:hover
			color naranja
			outline 1px solid naranja

.operador-index
	h2
		color verdevivo

.corporativo-index
	h2
		color naranja

.particulares-index
	h2
		color grisoscuro

/* quienes somos*/
.quienesomos
	background-color naranja
	color white

	figure
		margin 0 auto
		text-align center

	h2
		text-align center
		text-transform uppercase
		font-weight 700
		font-size 2em

	p 
		text-align center
		font-size 1.2em





/* contactanos*/
.contactanos
	background-color #EEEBE1
	margin-top -82px

	h2
		color grisoscuro
		font-weight 700
		font-size 2em

	h3
		color grisoscuro
		font-weight 700
		font-size 1.5em

	p 
		color grisoscuro
		font-weight 600

	.btncentrodesoportewhite
		outline 1px solid white
		color white
		text-decoration none
		padding 20px 40px
		margin 20px auto
		display block
		width 230px
		&:hover
			outline 1px solid grisoscuro
			color grisoscuro

	.btncentrodesoporteindex
		outline 1px solid naranja
		color naranja
		text-decoration none
		padding 20px 40px
		margin 20px auto
		display block
		width 230px
		&:hover
			outline 1px solid grisoscuro
			color grisoscuro


	/*a 
		outline 1px solid naranja
		color naranja
		text-decoration none
		padding 20px 40px
		margin 20px auto
		display block
		width 230px
		&:hover
			outline 1px solid grisoscuro
			color grisoscuro*/

	.formulariodecontacto
		width 600px
		margin 0 auto

		input[type="text"]
			background-color #EEEBE1
			border 1px solid grisoscuro
			padding 8px 5px
			color grisoscuro
			margin 0
			/*&:nth-of-type(3) 
				margin-top 20px*/

		input[type="email"]
			background-color #EEEBE1
			border 1px solid grisoscuro
			padding 8px 5px
			color grisoscuro
			margin-top 20px
			
	textarea
		background-color #EEEBE1
		border 1px solid grisoscuro
		padding 6px
		color grisoscuro

	.enviarmensaje
		background-color naranja
		color white
		width 100%
		padding 20px 0
		border none
		margin-top 30px
		&:hover
			background-color verdepalido
			color white
			border none


	.icon-icono-centro-de-soporte:before 
		content: "\e607"
		font-size 2.5em
		vertical-align middle
		padding-right 10px


	.formulariodecontacto2
		width 600px
		margin 0 auto

		input[type="text"]
			background-color #EEEBE1
			border 1px solid grisoscuro
			padding 8px 5px
			color grisoscuro
			margin 0
			/*&:nth-of-type(3) 
				margin-top 20px*/

		input[type="email"]
			background-color #EEEBE1
			border 1px solid grisoscuro
			padding 8px 2px
			color grisoscuro
			margin-top 20px
			
		textarea
			background-color #EEEBE1
			border 1px solid grisoscuro
			padding 6px
			color grisoscuro

		

	.enviarmensaje2
		background-color white
		color verdepalido
		margin-bottom 60px 
		width 100%
		padding 20px 0
		border none
		margin-top 30px
		&:hover
			background-color naranja
			color white
			border none


	.icon-icono-centro-de-soporte:before 
		content: "\e607"
		font-size 2.5em
		vertical-align middle
		padding-right 10px


	@css{

.radioP {
  display: inline-block;
  position: relative;
  margin: 20px;
  padding-left:25px;
  
}
.radioP:first-child {
 margin:0 0 20px 0; 
}

.radioPP {
 display: block;
  position: relative;
  margin: 20px auto;
  padding-left: 25px;
  width: 197px;
}

.radioPP label{
	text-align: left;
}

input[type="radio"] {
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

/* For IE 7-8-9

input[type="radio"] {
  display: inline-block;
}
input[type="radio"] + label span.radioButtonGraph {
  display: none;
}

*/

input[type="radio"] + label span.radioButtonGraph {
  appearance: none;

  z-index: 20;
  position: absolute;
  top:-3px;
  left:0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;

  background: #efefef;
  background-image: radial-gradient(ellipse at center, #F07926 0%,#C56725 40%,#efefef 45%);
  background-repeat: no-repeat;

  transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
input[type="radio"]:checked + label span.radioButtonGraph {
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

input[type="radio"] + label span.radioButtonGraph {
  background-position: -24px 0;
}
input[type="radio"]:checked + label span.radioButtonGraph {
  background-position: 0 0;
}
	}
.contactoverde
	p, h2, h3
		color white



@css{
	.formulariodecontacto2 input::-webkit-input-placeholder {
	  color: white;
	}
	.formulariodecontacto2 input:-moz-placeholder {
	  color: white; 
	}
	.formulariodecontacto2 input:-ms-input-placeholder { 
	  color: white; 
	}

	.formulariodecontacto2 textarea::-webkit-input-placeholder {
	  color: white;
	}
	.formulariodecontacto2 textarea:-moz-placeholder {
	  color: white; 
	}
	.formulariodecontacto2 textarea:-ms-input-placeholder { 
	  color: white; 
	}
}



.headercontacto
	height 577px


/* ultimos post en el index*/
.corteultimospost
	margin-top -96px

.post-index
	background-color verdepalido
	color white
	padding 3em 0

.borderultimospost
	background-image url("../svg/topultimospost.svg")
	height 63px
	background-repeat no-repeat
	background-size: 100%;

.ultimospostindex 
	figure
		float left
		width 100px
		height 100px

	.resumenultimospost
		float right
		width 330px

	h2
		margin 0


/* mision*/
.mision
	margin-top 2em

	p 
		text-align center
	

.vision
	margin-top 2em

	p 
		text-align center
		width 400px
		margin-left 35px

.contenedoriconomisionvision
	width 100px
	height 100px
	margin 0 auto



/* operadores*/
.opcionesdatanetwork
	a 
		padding 0
		float right

	h3
		text-align: right
		padding-top: 50px
		margin 0 50px 0 0

.um
	position relative



.lineaultimamilla
	background-image url("../svg/linea-ultimamilla.svg")
	width 340px
	height 583px
	display block
	background-repeat no-repeat
	position absolute
	right 288px
	



.bgultimamilla
	background-image url("../svg/bg-ultimamilla.svg")
	width 450px
	height 130px
	display block
	background-repeat no-repeat
	margin-bottom 3px



.bgsolucionesglobales
	background-image url("../svg/bg-solucionesglobales.svg")
	width 485px
	height 130px
	display block
	background-repeat no-repeat
	margin-bottom 2px



.bglineasprivadas
	background-image url("../svg/bg-lineasprivadas.svg")
	width 441px
	height 130px
	display block
	background-repeat no-repeat
	margin-bottom 3px



.bginternetglobal
	background-image url("../svg/bg-internetglobal.svg")
	width 364px
	height 132px
	display block
	background-repeat no-repeat




/* cloud solutions*/
.opcionescloudsolution
	a 
		margin 0 0 2px 0
		padding 0
		float left

	h3
		text-align: left
		/*padding-top: 50px*/
		margin 0 0 0 50px

.bgcloudpbx
	background-image url("../svg/bg-centralvirtual.svg")
	width 845px
	height 259px
	display block
	background-repeat no-repeat

.bgcallcentervirtual
	background-image url("../svg/bg-callcentervirtual.svg")
	width 444px
	height 259px
	display block
	background-repeat no-repeat

/* software integration*/
.bg-software1
	background-image url("../svg/bg-software1.svg")
	width 450px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 2px

.bg-software2
	background-image url("../svg/bg-software2.svg")
	width 485px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 2px

.bg-software3
	background-image url("../svg/bg-software3.svg")
	width 441px
	height 130px
	display block
	background-repeat no-repeat
	float right

/* corporativo*/
.bgnear2cloud1
	background-image url("../svg/bg-near2cloud1.svg")
	width 462px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: right;
		padding: 0.5em 2em;
		text-transform uppercase
		margin-top 30px

.bgnear2cloud2
	background-image url("../svg/bg-near2cloud2.svg")
	width 485px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: right;
		padding: 0.5em 2em;
		text-transform uppercase
		margin-top 30px


.bgnear2cloud3
	background-image url("../svg/bg-near2cloud3.svg")
	width 441px
	height 130px
	display block
	background-repeat no-repeat
	float right

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: right;
		padding: 0.5em 2em;
		text-transform uppercase
		margin-top 30px

.bgcentrosoporte1
	background-image url("../svg/bg-centrosoporte1.svg")
	width 462px
	height 130px
	display block
	background-repeat no-repeat
	float left
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: left;
		padding: 0 2em;
		text-transform uppercase
		margin-top 25px

.bgcentrosoporte2
	background-image url("../svg/bg-centrosoporte2.svg")
	width 485px
	height 130px
	display block
	background-repeat no-repeat
	float left
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: left;
		padding: 0 2em;
		text-transform uppercase
		margin-top 27px

.bgcentrosoporte3
	background-image url("../svg/bg-centrosoporte3.svg")
	width 441px
	height 130px
	display block
	background-repeat no-repeat
	float left

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: left;
		padding: 0 2em;
		text-transform uppercase
		margin-top 27px

.bgcentralvirtual1
	background-image url("../svg/bg-centralvirtual1.svg")
	width 462px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: right;
		padding: 0.5em 2em;
		text-transform uppercase
		margin-top 35px

.bgcentralvirtual2
	background-image url("../svg/bg-centralvirtual2.svg")
	width 488px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: right;
		padding: 0.5em 2em;
		text-transform uppercase
		margin-top 20px

.bgcentralvirtual3
	background-image url("../svg/bg-centralvirtual3.svg")
	width 441px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px

	h3
		font-weight: 100;
		font-size: 1.1em;
		color: #fff;
		text-align: right;
		padding: 0.5em 2em;
		text-transform uppercase
		margin-top 25px


/* central virtual*/
.bgcibersysconnect1
	background-image url("../svg/bg-cibersysconnect1.svg")
	width 462px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px


.bgcibersysconnect2
	background-image url("../svg/bg-cibersysconnect2.svg")
	width 485px
	height 130px
	display block
	background-repeat no-repeat
	float right
	margin-bottom 3px

.bgcibersysconnect3
	background-image url("../svg/bg-cibersysconnect3.svg")
	width 441px
	height 130px
	display block
	background-repeat no-repeat
	float right


.bgcibersysconnectgo1
	background-image url("../svg/bg-connectgo1.svg")
	width 462px
	height 182px
	display block
	background-repeat no-repeat
	float left
	margin-bottom 3px

.bgcibersysconnectgo2
	background-image url("../svg/bg-connectgo2.svg")
	width 499px
	height 180px
	display block
	background-repeat no-repeat
	float left
	margin-bottom 3px

.bgcibersysconnectgo3
	background-image url("../svg/bg-connectgo3.svg")
	width 393px
	height 181px
	display block
	background-repeat no-repeat
	float left
	margin-bottom 3px


/* preguntas frecuentes*/
.txtpf
	position relative
	z-index 20
	margin-top -51px

.txtpf2
	position relative
	z-index 20


/* terminos y condiciones*/
.terminosycondiciones
	width 960px
	margin 0 auto
	

	h3 
		text-align center
		color grisoscuro

	.delusodelsitio
		position relative

	.delusodelsitiotxt 
		position absolute
		left 0
		width 300px	

@css{

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    background:#fff;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    background:#fff;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    color:#434343;
    width: 40%;

}
 /*
.accordion-section-title.active, .accordion-section-title:hover {
    background:#F07926;
    color: white;
   
    text-decoration:none;
    width: 40%;
}*/
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
    width: 55%;
    padding: 0 2.5%;
    float: right;
}
			

.accordion-section{
	overflow: overlay;
}


.clausulaborde{
	border-bottom: 1px solid #434343;
	display: block;
}


}

.imagendestacada
	overflow hidden
	img 
		width 100%

.contenedorimagenterminos
	position relative
	margin 0 auto
	width 960px

	h1
		position absolute
		bottom 0
		color white
		font-size 3em

