@css{
/* Iconos Icomoon*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-qcnnd5');
	src:url('../fonts/icomoon.eot?#iefix-qcnnd5') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-qcnnd5') format('truetype'),
		url('../fonts/icomoon.woff?-qcnnd5') format('woff'),
		url('../fonts/icomoon.svg?-qcnnd5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icono-facebook:before {
	content: "\e600";
}
.icon-icono-googleplus:before {
	content: "\e601";
}
.icon-icono-linkedin:before {
	content: "\e602";
}
.icon-icono-twiiter:before {
	content: "\e603";
}

/* fuente google fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,300,400italic);
}

.bandera
	position absolute
	right 0
	top 5px

	img 
		width 30%
		height 30%

body
	font-family 'Open Sans', sans-serif
	margin 0 auto
	padding 0	
	background-color #fff
	font-size 16px

.banner
	width 100%
	margin-bottom 1em
	img
		width 100%

.contenedor
	max-width 960px
	margin 0 auto

.columnas
	width 33%
	float left

.destacados
	background-color #a2bab7
	min-height 100px
	padding 10px 0
	color white
	


figure
	margin 0
	padding 0

footer
	background-color #434343
	color white
	padding 2em 0
	clear both

	p 
		font-size .8em
		text-align center
		clear both

	h3 	
		font-weight 400
		margin 0 0 1em 0

	.iconos-sociales
		ul
			margin 0
			padding 0

			li 
				display inline-block
				font-size 2em
				margin 0 5px

			a
				color #fff
				text-decoration none
				&:hover
					color #f07827

	.boton-contacto
		border 1px solid #fff
		color #fff
		text-decoration none
		padding 10px
		display block
		width 70%
		margin 0 auto
		text-align center
		&:hover
			border 1px solid #f07827
			color #f07827

.franja-naranja
	background-color #f07827
	padding 10px 0

	h1
		padding 0
		margin 0
		color white
		font-weight 400
		font-size 1.5em
		text-align center


header
	padding 2em 0
	overflow hidden

	figure
		float left

	.iconos-sociales
		float right

		ul
			margin 0
			padding 0

			li 
				display inline-block
				font-size 2em
				margin 0 5px

			a
				color #434343
				text-decoration none
				&:hover
					color #f07827

.operadores
	padding-top 50px
	/*padding-bottom 20px*/
	figure
		margin 0 auto
		text-align center
	h2
		color #5e8a87
		text-align center

	p 
		font-size 1.1em
		color #000
		text-align center

.corporativo
	padding-top 50px
	/*padding-bottom 20px*/
	border-left  1px solid #a2bab7
	border-right  1px solid #a2bab7
	.destacados
		border-left  1px solid #fff
		border-right  1px solid #fff

	figure
		margin 0 auto
		text-align center
	h2
		color #ee7926
		text-align center

	p 
		font-size 1.1em
		color #000
		text-align center


.particulares
	padding-top 50px
	/*padding-bottom 20px*/
	figure
		margin 0 auto
		text-align center
	h2
		color #444444
		text-align center
	p 
		font-size 1.1em
		color #000
		text-align center

.telefonos
	ul
		margin 0
		list-style none

		li 
			margin 5px

// MEDIA QUERIES
	@media only screen and (max-width: 768px)

		.contenedor
			width 768px
			margin 0 auto
			/*outline 1px solid*/

		.columnas
			width 33%
			float left

	@media only screen and (min-width: 320px) and (max-width: 480px)
		.contenedor
			width 100%
			margin 0
			/*outline 1px solid*/

		.columnas
			width 100%
			float none
			margin 0 auto

		.corporativo
			padding-top 50px
			/*padding-bottom 20px*/
			border-left  0
			border-right  0
			.destacados
				border-left  0
				border-right  0

		footer
			width 100%

			h3 	
				font-weight 400
				margin 0 0 1em 0
				text-align center

			.iconos-sociales
				text-align center
				ul
					margin 0
					padding 0

					li 
						display inline-block
						font-size 2em
						margin 0 5px

					a
						color #fff
						text-decoration none
						&:hover
							color #f07827

			.boton-contacto
				border 1px solid #fff
				color #fff
				text-decoration none
				padding 10px
				display block
				width 70%
				margin 20px auto
				text-align center
				&:hover
					border 1px solid #f07827
					color #f07827

		header
			figure
				float none
				margin 0 auto
				width 293px

			.iconos-sociales
				float none
				margin 20px auto 0 auto
				text-align center
			

				ul
					margin 0
					padding 0

					li 
						display inline-block
						font-size 2em
						margin 0 5px

					a
						color #434343
						text-decoration none
						&:hover
							color #f07827

		

